.version.about /* version checker */
{
	color: #0000F0;
	background-color: #AF8210;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -11px;
	width: 0.01px;
}

#top
{
	left: -129px;
	position: relative;
}

#u487-6
{
	z-index: 235;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 241;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

#u487-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 235;
	top: -13px;
}

#slideshowu814
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	margin-left: 155px;
	margin-top: 98px;
	position: relative;
}

#u815
{
	position: absolute;
	background-color: transparent;
}

#u815popup
{
	z-index: 3;
}

#u820
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u985
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2646-6
{
	z-index: 245;
	min-height: 50px;
	padding-right: 6px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 251;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 245;
	top: 16px;
}

#u7507
{
	z-index: 267;
	width: 248px;
	min-height: 73px;
	top: 24px;
	left: 24px;
}

#u6111-14
{
	z-index: 253;
	width: 541px;
	min-height: 26px;
	top: 38px;
	left: 219px;
}

#ppu7511
{
	width: 0.01px;
	margin-left: -178px;
	margin-top: -34px;
}

#pu7511
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 187px;
}

#u7511
{
	z-index: 116;
	width: 60px;
	min-height: 64px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#down
{
	margin-left: 56px;
	margin-top: 636px;
	position: relative;
}

#u879-5
{
	z-index: 8;
	min-height: 2173px;
	background-color: transparent;
}

#u882
{
	float: right;
	margin-top: -23px;
	margin-bottom: 23px;
}

#u881-42
{
	z-index: 13;
	width: 430px;
	min-height: 2332px;
	text-align: center;
}

.article_panel
{
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u885
{
	margin-top: 44px;
	margin-bottom: -44px;
}

#u884
{
	z-index: 19;
	width: 160px;
	height: 160px;
	-pie-box-shadow: 0px 0px 2px 1px #E5E5E5;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.1),0px 0px 2px rgba(0,0,0,0.1);
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	background: #FFFFFF url("../images/about-ieu884-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/about.png") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u923
{
	margin-top: 32px;
	margin-bottom: -32px;
}

#u922-3
{
	z-index: 27;
	width: 298px;
	min-height: 14px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: transparent;
	font-size: 11px;
	letter-spacing: 3px;
	text-align: center;
	line-height: 15px;
	font-style: italic;
	border-width: 0px 0px 1px;
}

#u906
{
	margin-top: 41px;
	margin-bottom: -41px;
}

#u903-4
{
	z-index: 32;
	width: 300px;
	min-height: 176px;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2429
{
	margin-top: -23px;
	margin-bottom: 23px;
}

#u2428
{
	z-index: 49;
	width: 140px;
	height: 64px;
	border-color: #000000;
	background: #FFFFFF url("../images/arrow_thin2.gif") no-repeat center center;
}

#u2428:hover
{
	width: 140px;
	height: 64px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/arrow_thin_over.png") no-repeat center center;
}

#u970
{
	margin-top: 99px;
	margin-bottom: -99px;
}

#u969-4
{
	z-index: 63;
	width: 323px;
	min-height: 42px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: transparent;
	font-size: 40px;
	text-align: center;
	border-width: 0px 0px 1px;
}

#u969
{
	line-height: 40px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u969-2
{
	line-height: 48px;
	color: #7F7F7F;
	font-family: dosis, sans-serif;
	font-weight: 400;
}

#u881,#u881-7,#u881-20,#u881-32,#u881-37
{
	font-size: 1px;
	line-height: 0px;
}

#u978
{
	margin-top: 87px;
	margin-bottom: -87px;
}

#u975-11
{
	z-index: 73;
	width: 300px;
	min-height: 629px;
	background-color: transparent;
}

#u879-5-bw
{
	z-index: 8;
	min-height: 2173px;
}

#u7570-3
{
	z-index: 117;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 711px;
	left: 1250px;
}

#pu2695-18
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2081px;
}

#pu2695-18_position_content
{
	margin-top: -201px;
	padding-bottom: 1220px;
}

#u2695-18
{
	z-index: 88;
	width: 540px;
	min-height: 261px;
	color: #FFFFFF;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: fixed;
	top: 322px;
	left: 10px;
}

.article_headline_top
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u2695-2
{
	font-size: 30px;
	line-height: 27px;
	letter-spacing: -1px;
}

#u2695-5
{
	letter-spacing: -1px;
}

#u2695-6
{
	letter-spacing: 1px;
}

#u2695-8
{
	font-size: 36px;
	line-height: 32px;
	letter-spacing: -1px;
}

#u2695-10,#u2695-11
{
	font-size: 12px;
	line-height: 11px;
	letter-spacing: -1px;
}

#u2695-4,#u2695-15
{
	font-size: 40px;
	letter-spacing: -1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2695-12
{
	font-size: 48px;
	line-height: 43px;
}

#u2695-3,#u2695-13
{
	font-size: 53px;
	line-height: 48px;
}

#u2695-7,#u2695-14
{
	font-size: 36px;
	line-height: 32px;
}

#u2695-16
{
	font-size: 60px;
	line-height: 66px;
}

#accordionu1636
{
	z-index: 120;
	bottom: -46px;
}

#u1637
{
	z-index: 121;
}

#u1649-3
{
	z-index: 122;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 125;
}

#pu1648-23
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1648-23
{
	z-index: 126;
	width: 245px;
	min-height: 412px;
	padding-left: 25px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1650-9
{
	z-index: 149;
	width: 430px;
	min-height: 412px;
	margin-right: -10000px;
	left: 270px;
}

#widgetu1639
{
	z-index: 158;
	width: 0.01px;
	height: 63px;
	margin-right: -10000px;
	margin-top: 134px;
	left: 330px;
}

#widgetu1643
{
	z-index: 159;
	width: 225px;
	height: 27px;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 160;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu1643:hover #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643:hover #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643:hover #widgetu1643_prompt,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 164;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 168;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 172;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 176;
	min-height: 32px;
	width: 88px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-6
{
	z-index: 193;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 334px;
}

#u1901-6:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1933
{
	margin: -9px -10px -11px;
}

#u1932
{
	z-index: 199;
	width: 35px;
	height: 35px;
}

#u1932:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-5
{
	z-index: 201;
	width: 303px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 331px;
}

#u2019-4
{
	z-index: 206;
	width: 234px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 336px;
}

#u2127-4
{
	z-index: 225;
	width: 200px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 20px;
}

#u2017
{
	z-index: 210;
	width: 280px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 211;
	width: 280px;
	min-height: 29px;
}

#u2014-10
{
	z-index: 215;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
}

#u8806
{
	z-index: 229;
}

#u8807-4
{
	z-index: 230;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3.AccordionPanelTabOpen,#u8807-4:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8807-4.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8808
{
	z-index: 234;
	height: 414px;
}

#accordionu1636-bw
{
	z-index: 120;
}

#u2704-10
{
	z-index: 106;
	width: 540px;
	min-height: 261px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	position: fixed;
	top: 1080px;
	left: -10px;
}

#u2704
{
	font-size: 50px;
	line-height: 55px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2704-4
{
	font-size: 48px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2704-2
{
	line-height: 43px;
}

#u2704-3
{
	font-size: 60px;
	letter-spacing: -1px;
	line-height: 54px;
}

#u2704-6
{
	font-size: 48px;
	line-height: 43px;
	letter-spacing: -1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2704-7
{
	font-size: 24px;
	line-height: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2704-8
{
	font-size: 60px;
	line-height: 66px;
	font-family: abel, sans-serif;
	font-weight: 400;
}

.js #u2695-18.ose_pre_init,.js #u2704-10.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

