.version.accessories /* version checker */
{
	color: #000002;
	background-color: #3033F9;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -9px;
	width: 0.01px;
}

#u487-6
{
	z-index: 881;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 887;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

#u487-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 881;
	top: -13px;
}

#top
{
	left: -128px;
	position: relative;
}

#u2646-7
{
	z-index: 891;
	min-height: 50px;
	padding-right: 6px;
}

#u2662
{
	margin-top: 8px;
	margin-bottom: -8px;
}

#u2661
{
	z-index: 897;
	width: 68px;
	height: 39px;
}

#u2661:hover
{
	width: 68px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2647
{
	z-index: 900;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-7-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 891;
	top: 16px;
}

#u6527
{
	z-index: 920;
	width: 35px;
	height: 1px;
	border-color: #000000;
	background-color: #382C2D;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: 77px;
}

#u7507
{
	z-index: 919;
	width: 248px;
	min-height: 73px;
	top: 24px;
	left: 24px;
}

#u6111-17
{
	z-index: 902;
	width: 541px;
	min-height: 26px;
	top: 38px;
	left: 219px;
}

#pu6409-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 63px;
}

#u6409-3
{
	z-index: 3;
	min-height: 313px;
	background: #D2D2D2 url("../images/brick_blur-u3131-3-fr.png") no-repeat center center;
	background-color: rgba(127,127,127,0.35);
	background-size: cover;
}

#u6409-3-bw
{
	z-index: 3;
	min-height: 313px;
}

#u6357-9
{
	z-index: 255;
	width: 491px;
	min-height: 47px;
	background-color: transparent;
	color: #90624D;
	font-size: 40px;
	text-align: center;
	line-height: 48px;
	letter-spacing: 7px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 335px;
}

#u6357-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6357-2
{
	font-size: 45px;
	letter-spacing: 0px;
}

#u6361-4
{
	z-index: 261;
	width: 35px;
	min-height: 47px;
	background-color: transparent;
	color: #90624D;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	letter-spacing: 7px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6357-3
{
	font-size: 45px;
	line-height: 54px;
}

#u6357-4
{
	font-size: 45px;
	letter-spacing: 3px;
	line-height: 54px;
}

#u6357-5
{
	font-size: 30px;
}

#u2654,#u6360,#u6358
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u6359-4
{
	z-index: 269;
	width: 28px;
	min-height: 47px;
	background-color: transparent;
	color: #90624D;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	letter-spacing: 7px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6361,#u6359
{
	font-family: meddon, cursive;
	font-weight: 400;
}

#u6357-6
{
	font-size: 30px;
	line-height: 36px;
}

#u6473-4
{
	z-index: 274;
	width: 112px;
	min-height: 18px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 203px;
	left: 394px;
	padding: 6px 7px 3px;
}

#u6473-4.MuseLinkActive
{
	border-width: 1px;
	border-style: solid;
	border-color: #90624D;
	background-color: transparent;
	padding-top: 6px;
	padding-bottom: 3px;
	min-height: 18px;
	width: 111px;
	margin: 203px -10001px -1px 0px;
}

.catagory
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u6473-4.MuseLinkActive p,#u6473-4.MuseLinkActive h1
{
	color: #90624D;
	visibility: inherit;
	line-height: 1.2;
	letter-spacing: 3px;
	font-size: 12px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6473-2
{
	color: #90624D;
}

#u6350-4
{
	z-index: 278;
	width: 115px;
	min-height: 14px;
	padding: 3px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 537px;
}

#u6350-4:hover
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 115px;
	margin: 207px -10000px 0px 0px;
}

#u6488-4
{
	z-index: 282;
	width: 94px;
	min-height: 14px;
	padding: 3px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 651px;
}

#u6488-4:hover
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 94px;
	margin: 207px -10000px 0px 0px;
}

#u6362-4
{
	z-index: 286;
	width: 561px;
	min-height: 14px;
	padding: 3px;
	color: #90624D;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 298px;
}

#u6362-4:hover
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 561px;
	margin: 159px -10000px 0px 0px;
}

#u6350-4:hover p,#u6350-4:hover h1,#u6488-4:hover p,#u6488-4:hover h1,#u6362-4:hover p,#u6362-4:hover h1
{
	color: #382C2D;
	visibility: inherit;
	line-height: 1.2;
	letter-spacing: 3px;
	font-size: 12px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#accordionu1636
{
	z-index: 717;
	bottom: -5px;
}

#u1637
{
	z-index: 718;
}

#u1649-5
{
	z-index: 719;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-5:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1649-5.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 724;
}

#u1648-34
{
	z-index: 725;
	width: 245px;
	min-height: 412px;
	padding-left: 25px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1650-9
{
	z-index: 759;
	width: 430px;
	min-height: 412px;
	margin-right: -10000px;
	left: 270px;
}

#widgetu1639
{
	z-index: 768;
	width: 0.01px;
	height: 63px;
	margin-right: -10000px;
	margin-top: 134px;
	left: 330px;
}

#widgetu1643
{
	z-index: 769;
	width: 225px;
	height: 27px;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 770;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu1643:hover #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643:hover #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643:hover #widgetu1643_prompt,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 774;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 778;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 782;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 786;
	min-height: 32px;
	width: 88px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-6
{
	z-index: 803;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 384px;
}

#u1932
{
	z-index: 809;
	width: 35px;
	height: 35px;
}

#u1963-6
{
	z-index: 811;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 430px;
}

#u1965
{
	z-index: 817;
	width: 35px;
	height: 35px;
}

#u1978-6
{
	z-index: 819;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 476px;
}

#u1901-6:hover,#u1963-6:hover,#u1978-6:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1980
{
	z-index: 825;
	width: 35px;
	height: 35px;
}

#u1936-6
{
	z-index: 827;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 338px;
}

#u1933,#u1964,#u1979,#u1937
{
	margin: -9px -10px -11px;
}

#u1938
{
	z-index: 833;
	width: 35px;
	height: 35px;
}

#u1932:hover,#u1965:hover,#u1980:hover,#u1938:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-6
{
	z-index: 835;
	width: 303px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 331px;
}

#u2019-4
{
	z-index: 841;
	width: 234px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 336px;
}

#u2126-4
{
	z-index: 873;
	width: 328px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 373px;
	left: 330px;
}

#u2127-4
{
	z-index: 877;
	width: 200px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 20px;
}

#u2017
{
	z-index: 845;
	width: 280px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 846;
	width: 280px;
	min-height: 29px;
}

#u2014-10
{
	z-index: 854;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
}

#u2013-4
{
	z-index: 850;
	width: 280px;
	min-height: 29px;
	margin-top: 45px;
}

#u1900-9
{
	z-index: 864;
	width: 157px;
	min-height: 94px;
	top: -4px;
	margin-bottom: -4px;
}

#accordionu1636-bw
{
	z-index: 717;
}

#pppu6405-27
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 78px;
}

#pu1648-34,#ppu6405-27
{
	width: 0.01px;
	margin-right: -10000px;
}

#u6405-27
{
	z-index: 6;
	width: 278px;
	min-height: 398px;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

.home_thumb_container
{
	border-width: 1px;
	border-style: solid;
	border-color: #989898;
	background-color: transparent;
}

#u6407
{
	z-index: 27;
	width: 30px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

.nosvg #u6407
{
	background-image: url('../images/flourish_poster_u7312.png');
}

.flourish
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/flourish.svg") no-repeat center center;
	background-size: contain;
}

#u6381-3
{
	z-index: 591;
	width: 105px;
	min-height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 364px;
	left: 88px;
	padding: 12px 10px 10px;
}

.home_thumb_btn1
{
	border-width: 3px;
	border-style: solid;
	border-color: #90624D;
	background-color: transparent;
}

#u6398-6
{
	z-index: 594;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 375px;
	left: 154px;
}

.round_btn_read
{
	border-style: none;
	border-color: #382C2D;
	background-color: transparent;
	border-radius: 100px;
}

#u6400
{
	z-index: 600;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

.glasses
{
	border-style: none;
	border-color: #000000;
	border-radius: 100px;
	background: transparent url("../images/glasses_dark.png") no-repeat center center;
}

#u6419-6
{
	z-index: 602;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 375px;
	left: 97px;
}

#u6421
{
	z-index: 608;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6450
{
	z-index: 705;
	width: 280px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_ring-u6450-fr.jpg") no-repeat center top;
	background-size: cover;
}

.home_thumb_img
{
	border-style: none;
	border-color: #000000;
	background: #7F7F7F url("../images/home_thumb1.jpg") no-repeat left top;
	background-size: contain;
}

#pu6401
{
	width: 0.01px;
	margin-top: 15px;
}

#u6401
{
	z-index: 138;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6402-41
{
	z-index: 139;
	width: 278px;
	min-height: 578px;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6404
{
	z-index: 172;
	width: 30px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

#u6349-3
{
	z-index: 610;
	width: 105px;
	min-height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 555px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6369-6
{
	z-index: 613;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 566px;
	left: 154px;
}

#u6371
{
	z-index: 619;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6383-6
{
	z-index: 621;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 566px;
	left: 97px;
}

#u6385
{
	z-index: 627;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6386
{
	z-index: 708;
	width: 280px;
	height: 386px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_necklace.jpg") no-repeat right top;
	background-size: cover;
}

#u6464
{
	z-index: 332;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6465-25
{
	z-index: 333;
	width: 278px;
	min-height: 388px;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6468
{
	z-index: 354;
	width: 30px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

#u6426-3
{
	z-index: 648;
	width: 105px;
	min-height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 363px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6461-6
{
	z-index: 651;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 154px;
}

#u6463
{
	z-index: 657;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6442-6
{
	z-index: 659;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 97px;
}

#u6444
{
	z-index: 665;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6432
{
	z-index: 716;
	width: 280px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/makeup_bag.jpg") no-repeat left top;
	background-size: cover;
}

#u6413
{
	z-index: 360;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6414-40
{
	z-index: 361;
	width: 278px;
	min-height: 593px;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6416
{
	z-index: 395;
	width: 30px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

#u6418-3
{
	z-index: 686;
	width: 105px;
	min-height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 569px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6410-6
{
	z-index: 689;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 154px;
}

#u6412
{
	z-index: 695;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6392-6
{
	z-index: 697;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 97px;
}

#u6394
{
	z-index: 703;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6452
{
	z-index: 712;
	width: 280px;
	height: 388px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_purse.jpg") no-repeat right top;
	background-size: cover;
}

#ppu6477
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 320px;
}

#u6477
{
	z-index: 182;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6478-39
{
	z-index: 183;
	width: 278px;
	min-height: 585px;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6478-24
{
	text-align: center;
	line-height: 25px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6480
{
	z-index: 216;
	width: 30px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

#u6453-3
{
	z-index: 572;
	width: 105px;
	min-height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 551px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6474-6
{
	z-index: 575;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 562px;
	left: 154px;
}

#u6476
{
	z-index: 581;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6354-6
{
	z-index: 583;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 562px;
	left: 97px;
}

#u6356
{
	z-index: 589;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6375
{
	z-index: 706;
	width: 280px;
	height: 389px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_scarf.jpg") no-repeat center top;
	background-size: cover;
}

#pu6446
{
	width: 0.01px;
	margin-top: 18px;
}

#u6446
{
	z-index: 107;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6447-28
{
	z-index: 108;
	width: 278px;
	min-height: 388px;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6449
{
	z-index: 130;
	width: 30px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

#u6451-3
{
	z-index: 553;
	width: 105px;
	min-height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 365px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6485-6
{
	z-index: 556;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
	left: 154px;
}

#u6487
{
	z-index: 562;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6470-6
{
	z-index: 564;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
	left: 97px;
}

#u6472
{
	z-index: 570;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6351
{
	z-index: 709;
	width: 280px;
	height: 196px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_sun-glasses.jpg") no-repeat left top;
	background-size: cover;
}

#u6427
{
	z-index: 290;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6428-39
{
	z-index: 291;
	width: 278px;
	min-height: 585px;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6430
{
	z-index: 324;
	width: 30px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

#u6380-3
{
	z-index: 629;
	width: 105px;
	min-height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 560px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6363-6
{
	z-index: 632;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 571px;
	left: 154px;
}

#u6365
{
	z-index: 638;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6395-6
{
	z-index: 640;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 571px;
	left: 97px;
}

#u6397
{
	z-index: 646;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6408
{
	z-index: 711;
	width: 280px;
	height: 387px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_scarf.jpg") no-repeat center top;
	background-size: cover;
}

#pu6500
{
	width: 0.01px;
	margin-top: 12px;
}

#u6500
{
	z-index: 403;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6501-29
{
	z-index: 404;
	width: 278px;
	min-height: 401px;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6501-14
{
	text-align: center;
	line-height: 12px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6503
{
	z-index: 427;
	width: 30px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

#u6431-3
{
	z-index: 667;
	width: 105px;
	min-height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 377px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6377-6
{
	z-index: 670;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	left: 154px;
}

#u6379
{
	z-index: 676;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6433-6
{
	z-index: 678;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	left: 97px;
}

#u6435
{
	z-index: 684;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6445
{
	z-index: 713;
	width: 280px;
	height: 196px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_sun-glasses.jpg") no-repeat left center;
	background-size: cover;
}

#ppu6454
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 640px;
}

#pu6405-27,#pu6477,#pu6454
{
	width: 0.01px;
}

#u6454
{
	z-index: 224;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6455-25
{
	z-index: 225;
	width: 278px;
	min-height: 398px;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6457
{
	z-index: 246;
	width: 30px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

#u6417-3
{
	z-index: 534;
	width: 105px;
	min-height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 364px;
	left: 89px;
	padding: 12px 10px 10px;
}

#u6439-6
{
	z-index: 537;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 155px;
}

#u6441
{
	z-index: 543;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6423-6
{
	z-index: 545;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 98px;
}

#u6425
{
	z-index: 551;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6382
{
	z-index: 707;
	width: 280px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/makeup_bag.jpg") no-repeat right top;
	background-size: cover;
}

#pu6492
{
	width: 0.01px;
	margin-top: 14px;
}

#u6492
{
	z-index: 65;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6493-39
{
	z-index: 66;
	width: 278px;
	min-height: 579px;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6493-24
{
	text-align: center;
	line-height: 18px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6414-25,#u6493-25
{
	text-align: center;
	line-height: 17px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6402-27,#u6402-31,#u6493-27,#u6493-31
{
	text-align: center;
	line-height: 21px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6495
{
	z-index: 99;
	width: 30px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

#u6352-3
{
	z-index: 515;
	width: 105px;
	min-height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 556px;
	left: 89px;
	padding: 12px 10px 10px;
}

#u6482-6
{
	z-index: 518;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 567px;
	left: 155px;
}

#u6484
{
	z-index: 524;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6372-6
{
	z-index: 526;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 567px;
	left: 98px;
}

#u6374
{
	z-index: 532;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6391
{
	z-index: 715;
	width: 280px;
	height: 386px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_purse.jpg") no-repeat right top;
	background-size: cover;
}

#pu6464,#pu6427,#pu6387
{
	width: 0.01px;
	margin-top: 13px;
}

#u6387
{
	z-index: 35;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6388-27
{
	z-index: 36;
	width: 278px;
	min-height: 388px;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6390
{
	z-index: 57;
	width: 30px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

#u6353-3
{
	z-index: 496;
	width: 105px;
	min-height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 363px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6497-6
{
	z-index: 499;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 154px;
}

#u6499
{
	z-index: 505;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6366-6
{
	z-index: 507;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 97px;
}

#u6368
{
	z-index: 513;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6469
{
	z-index: 710;
	width: 280px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/glasses-u3748-fr.jpg") no-repeat left top;
	background-size: cover;
}

#pu6413,#pu6436-40
{
	width: 0.01px;
	margin-top: 17px;
}

#u6436-40
{
	z-index: 435;
	width: 278px;
	min-height: 593px;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6436-28
{
	font-size: 14px;
	text-align: center;
	line-height: 21px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6405-3,#u6405-4,#u6405-5,#u6405-6,#u6405-7,#u6405-8,#u6405-9,#u6405-10,#u6405-11,#u6405-12,#u6405-13,#u6405-15,#u6405-19,#u6402-3,#u6402-4,#u6402-5,#u6402-6,#u6402-7,#u6402-8,#u6402-9,#u6402-10,#u6402-11,#u6402-12,#u6402-13,#u6402-14,#u6402-15,#u6402-16,#u6402-17,#u6402-18,#u6402-19,#u6402-20,#u6402-21,#u6402-22,#u6402-23,#u6402-24,#u6402-25,#u6465-3,#u6465-4,#u6465-5,#u6465-6,#u6465-7,#u6465-8,#u6465-9,#u6465-10,#u6465-11,#u6465-12,#u6465-13,#u6465-15,#u6465-19,#u6414-3,#u6414-4,#u6414-5,#u6414-6,#u6414-7,#u6414-8,#u6414-9,#u6414-10,#u6414-11,#u6414-12,#u6414-13,#u6414-14,#u6414-15,#u6414-16,#u6414-17,#u6414-18,#u6414-19,#u6414-20,#u6414-21,#u6414-22,#u6414-23,#u6414-24,#u6414-26,#u6414-28,#u6414-32,#u6478-3,#u6478-4,#u6478-5,#u6478-6,#u6478-7,#u6478-8,#u6478-9,#u6478-10,#u6478-11,#u6478-12,#u6478-13,#u6478-14,#u6478-15,#u6478-16,#u6478-17,#u6478-18,#u6478-19,#u6478-20,#u6478-21,#u6478-22,#u6478-23,#u6478-25,#u6478-27,#u6478-31,#u6447-3,#u6447-4,#u6447-5,#u6447-6,#u6447-7,#u6447-8,#u6447-9,#u6447-10,#u6447-11,#u6447-12,#u6447-13,#u6447-14,#u6447-16,#u6447-20,#u6428-3,#u6428-4,#u6428-5,#u6428-6,#u6428-7,#u6428-8,#u6428-9,#u6428-10,#u6428-11,#u6428-12,#u6428-13,#u6428-14,#u6428-15,#u6428-16,#u6428-17,#u6428-18,#u6428-19,#u6428-20,#u6428-21,#u6428-22,#u6428-23,#u6428-24,#u6428-25,#u6428-27,#u6428-31,#u6501-3,#u6501-4,#u6501-5,#u6501-6,#u6501-7,#u6501-8,#u6501-9,#u6501-10,#u6501-11,#u6501-12,#u6501-13,#u6501-15,#u6501-17,#u6501-21,#u6455-3,#u6455-4,#u6455-5,#u6455-6,#u6455-7,#u6455-8,#u6455-9,#u6455-10,#u6455-11,#u6455-12,#u6455-13,#u6455-15,#u6455-19,#u6493-3,#u6493-4,#u6493-5,#u6493-6,#u6493-7,#u6493-8,#u6493-9,#u6493-10,#u6493-11,#u6493-12,#u6493-13,#u6493-14,#u6493-15,#u6493-16,#u6493-17,#u6493-18,#u6493-19,#u6493-20,#u6493-21,#u6493-22,#u6493-23,#u6388-3,#u6388-4,#u6388-5,#u6388-6,#u6388-7,#u6388-8,#u6388-9,#u6388-10,#u6388-11,#u6388-12,#u6388-13,#u6388-15,#u6388-19,#u6436-3,#u6436-4,#u6436-5,#u6436-6,#u6436-7,#u6436-8,#u6436-9,#u6436-10,#u6436-11,#u6436-12,#u6436-13,#u6436-14,#u6436-15,#u6436-16,#u6436-17,#u6436-18,#u6436-19,#u6436-20,#u6436-21,#u6436-22,#u6436-23,#u6436-24,#u6436-25,#u6436-26,#u6436-32
{
	font-size: 14px;
	text-align: center;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6406,#u6403,#u6467,#u6415,#u6479,#u6448,#u6429,#u6502,#u6456,#u6494,#u6389,#u6437
{
	margin-top: 9px;
	margin-bottom: -9px;
}

#u6438
{
	z-index: 469;
	width: 30px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

#u6405-20,#u6402-32,#u6465-20,#u6414-33,#u6478-32,#u6447-21,#u6428-32,#u6501-22,#u6455-20,#u6493-32,#u6388-20,#u6436-33
{
	text-align: center;
	letter-spacing: 4px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6402-34,#u6402-36,#u6402-37,#u6402-38,#u6436-35,#u6436-37
{
	text-align: center;
	line-height: 18px;
}

#u6405,#u6405-2,#u6405-22,#u6405-24,#u6405-25,#u6402,#u6402-2,#u6402-39,#u6465,#u6465-2,#u6465-22,#u6465-23,#u6414,#u6414-2,#u6414-35,#u6414-37,#u6414-38,#u6478,#u6478-2,#u6478-34,#u6478-36,#u6478-37,#u6447,#u6447-2,#u6447-23,#u6447-25,#u6447-26,#u6428,#u6428-2,#u6428-34,#u6428-36,#u6428-37,#u6501,#u6501-2,#u6501-24,#u6501-26,#u6501-27,#u6455,#u6455-2,#u6455-22,#u6455-23,#u6493,#u6493-2,#u6493-34,#u6493-36,#u6493-37,#u6388,#u6388-2,#u6388-22,#u6388-24,#u6388-25,#u6436,#u6436-2,#u6436-38
{
	text-align: center;
}

#u6481-3
{
	z-index: 477;
	width: 105px;
	min-height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 569px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6489-6
{
	z-index: 480;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 154px;
}

#u6491
{
	z-index: 486;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6400:hover,#u6371:hover,#u6463:hover,#u6412:hover,#u6476:hover,#u6487:hover,#u6365:hover,#u6379:hover,#u6441:hover,#u6484:hover,#u6499:hover,#u6491:hover
{
	border-radius: 100px;
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cart_ap_white.png") no-repeat center center;
}

#u6458-6
{
	z-index: 488;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 97px;
}

#u6357,#u6405-16,#u6398,#u6419,#u6402-28,#u6369,#u6383,#u6465-16,#u6461,#u6442,#u6414-29,#u6410,#u6392,#u6478-28,#u6474,#u6354,#u6447-17,#u6485,#u6470,#u6428-28,#u6363,#u6395,#u6501-18,#u6377,#u6433,#u6455-16,#u6439,#u6423,#u6493-28,#u6482,#u6372,#u6388-16,#u6497,#u6366,#u6436-29,#u6489,#u6458
{
	font-size: 1px;
	line-height: 0px;
}

#u6399,#u6420,#u6370,#u6384,#u6462,#u6443,#u6411,#u6393,#u6475,#u6355,#u6486,#u6471,#u6364,#u6396,#u6378,#u6434,#u6440,#u6424,#u6483,#u6373,#u6498,#u6367,#u6490,#u6459
{
	margin: -12px -10px -8px;
}

#u6460
{
	z-index: 494;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6421:hover,#u6385:hover,#u6444:hover,#u6394:hover,#u6356:hover,#u6472:hover,#u6397:hover,#u6435:hover,#u6425:hover,#u6374:hover,#u6368:hover,#u6460:hover
{
	border-radius: 100px;
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/mag_white.png") no-repeat center center;
}

#u6422
{
	z-index: 714;
	width: 280px;
	height: 388px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_necklace.jpg") no-repeat left top;
	background-size: cover;
}

.js #u6386.ose_pre_init,.js #u6432.ose_pre_init,.js #u6452.ose_pre_init,.js #u6351.ose_pre_init,.js #u6408.ose_pre_init,.js #u6445.ose_pre_init,.js #u6391.ose_pre_init,.js #u6469.ose_pre_init,.js #u6422.ose_pre_init
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

#u6376-3
{
	z-index: 252;
	width: 32px;
	min-height: 1754px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 699px;
	left: 976px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

