.version.blog_details /* version checker */
{
	color: #00001F;
	background-color: #CE8E79;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -13px;
	width: 0.01px;
}

#top
{
	left: -133px;
	position: relative;
}

#u487-6
{
	z-index: 240;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 246;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

#u487-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 240;
	top: -13px;
}

#slideshowu4759
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	margin-left: 155px;
	margin-top: 100px;
	position: relative;
}

#u4762
{
	position: absolute;
	background-color: transparent;
}

#u4762popup
{
	z-index: 3;
}

#u4763
{
	z-index: 4;
	border-color: #000000;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2646-7
{
	z-index: 250;
	min-height: 50px;
	padding-right: 6px;
}

#u2662
{
	margin-top: 8px;
	margin-bottom: -8px;
}

#u2661
{
	z-index: 256;
	width: 68px;
	height: 39px;
}

#u2661:hover
{
	width: 68px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 259;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-7-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 250;
	top: 16px;
}

#u6307
{
	z-index: 279;
	width: 35px;
	height: 1px;
	border-color: #000000;
	background-color: #382C2D;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -35px;
}

#u7507
{
	z-index: 278;
	width: 248px;
	min-height: 73px;
	top: 24px;
	left: 24px;
}

#pdown
{
	width: 0.01px;
	margin-left: -122px;
	margin-top: -64px;
}

#down
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 824px;
}

#u4783-7
{
	z-index: 7;
	min-height: 1172px;
	border-style: none;
	border-color: transparent;
}

.text_container
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 30px;
}

#u4784
{
	margin-top: -48px;
	margin-bottom: 48px;
}

#u4785-3
{
	z-index: 13;
	width: 803px;
	min-height: 1234px;
	background-color: transparent;
	text-align: right;
}

.box7
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u4785
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u4786
{
	margin-right: 20px;
}

#u4787-36
{
	z-index: 18;
	width: 237px;
	min-height: 1976px;
	border-right-width: 20px;
	border-style: solid;
	border-color: #FFFFFF;
	padding-left: 20px;
	padding-right: 60px;
}

.box8
{
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u4787-8
{
	font-size: 30px;
	text-align: left;
	line-height: 45px;
	color: #7F7F7F;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u4787-7
{
	letter-spacing: 2px;
}

#u4787-9,#u4787-12
{
	font-size: 14px;
	text-align: left;
	line-height: 21px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
}

#u4787,#u4787-6,#u4787-17
{
	text-align: center;
}

#u4783,#u4787-14
{
	font-size: 1px;
	line-height: 0px;
}

#u4842
{
	margin-top: 40px;
	margin-bottom: -40px;
}

#u4835
{
	z-index: 37;
	width: 200px;
	height: 200px;
	border-color: #000000;
	border-radius: 100px;
	background: #FFFFFF url("../images/hearts.jpg") no-repeat center center;
	background-size: cover;
}

#u4787-18,#u4787-19,#u4787-20,#u4787-21,#u4787-22,#u4787-23,#u4787-27
{
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 2px;
	color: #382C2D;
}

#u4787-28,#u4787-29,#u4787-30,#u4787-31,#u4787-32,#u4787-33,#u4787-34
{
	font-size: 14px;
	text-align: left;
	line-height: 21px;
	letter-spacing: 2px;
	color: #382C2D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
}

#u4783-7-bw
{
	z-index: 7;
	min-height: 1172px;
}

#pu6111-17
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1984px;
	padding: 83px 1060px 1894px 100px;
}

#u6111-17
{
	z-index: 261;
	width: 541px;
	min-height: 26px;
	top: 38px;
	left: 219px;
}

#u4876-8
{
	z-index: 68;
	width: 724px;
	min-height: 572px;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	letter-spacing: -6px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 121px;
	left: 0px;
}

#u4876-2
{
	font-size: 200px;
	line-height: 194px;
}

#u4876-4,#u4876-6
{
	font-size: 150px;
	line-height: 146px;
}

#accordionu1636
{
	z-index: 76;
	bottom: -5px;
}

#u1637
{
	z-index: 77;
}

#u1649-5
{
	z-index: 78;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-5:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1649-5.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 83;
}

#pu1648-34
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1648-34
{
	z-index: 84;
	width: 245px;
	min-height: 412px;
	padding-left: 25px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1650-9
{
	z-index: 118;
	width: 430px;
	min-height: 412px;
	margin-right: -10000px;
	left: 270px;
}

#widgetu1639
{
	z-index: 127;
	width: 0.01px;
	height: 63px;
	margin-right: -10000px;
	margin-top: 134px;
	left: 330px;
}

#widgetu1643
{
	z-index: 128;
	width: 225px;
	height: 27px;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 129;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu1643:hover #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643:hover #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643:hover #widgetu1643_prompt,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 133;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 137;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 141;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 145;
	min-height: 32px;
	width: 88px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-6
{
	z-index: 162;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 384px;
}

#u1932
{
	z-index: 168;
	width: 35px;
	height: 35px;
}

#u1963-6
{
	z-index: 170;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 430px;
}

#u1965
{
	z-index: 176;
	width: 35px;
	height: 35px;
}

#u1978-6
{
	z-index: 178;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 476px;
}

#u1901-6:hover,#u1963-6:hover,#u1978-6:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1980
{
	z-index: 184;
	width: 35px;
	height: 35px;
}

#u1936-6
{
	z-index: 186;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 338px;
}

#u1933,#u1964,#u1979,#u1937
{
	margin: -9px -10px -11px;
}

#u1938
{
	z-index: 192;
	width: 35px;
	height: 35px;
}

#u1932:hover,#u1965:hover,#u1980:hover,#u1938:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-6
{
	z-index: 194;
	width: 303px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 331px;
}

#u2019-4
{
	z-index: 200;
	width: 234px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 336px;
}

#u2126-4
{
	z-index: 232;
	width: 328px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 373px;
	left: 330px;
}

#u2127-4
{
	z-index: 236;
	width: 200px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 20px;
}

#u2017
{
	z-index: 204;
	width: 280px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 205;
	width: 280px;
	min-height: 29px;
}

#u2014-10
{
	z-index: 213;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
}

#u2013-4
{
	z-index: 209;
	width: 280px;
	min-height: 29px;
	margin-top: 45px;
}

#u1900-9
{
	z-index: 223;
	width: 157px;
	min-height: 94px;
	top: -4px;
	margin-bottom: -4px;
}

#accordionu1636-bw
{
	z-index: 76;
}

#u4755
{
	z-index: 6;
	height: 367px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)),color-stop(100%, rgba(0,0,0,0.8)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) ,rgba(0,0,0,0.8) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) ,rgba(0,0,0,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#CC000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#CC000000', GradientType=0)";
	border-color: #000000;
	position: fixed;
	bottom: 32px;
}

#u4755-bw
{
	z-index: 6;
}

#u4757-4
{
	z-index: 57;
	width: 160px;
	min-height: 19px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-top: 6px;
	font-size: 12px;
	letter-spacing: 2px;
	color: #FFFFFF;
	text-align: center;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 57px;
	left: 50%;
	margin-left: -165px;
}

#u4782-4
{
	z-index: 61;
	width: 131px;
	min-height: 19px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-top: 6px;
	font-size: 12px;
	letter-spacing: 2px;
	color: #FFFFFF;
	text-align: left;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 57px;
	left: 50%;
	margin-left: -1px;
}

#u4780
{
	z-index: 67;
	width: 470px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	bottom: 7px;
	left: 19px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

