.version.city_nails /* version checker */
{
	color: #00000C;
	background-color: #CE7D39;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -13px;
	width: 0.01px;
}

#top
{
	left: -133px;
	position: relative;
}

#u487-6
{
	z-index: 176;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 182;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

#u487-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 176;
	top: -13px;
}

#u2646-6
{
	z-index: 186;
	min-height: 50px;
	padding-right: 6px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 192;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 186;
	top: 16px;
}

#u7507
{
	z-index: 208;
	width: 248px;
	min-height: 73px;
	top: 24px;
	left: 24px;
}

#pu8297
{
	width: 0.01px;
	margin-left: -566px;
	margin-top: 36px;
}

#u8297
{
	z-index: 2;
	width: 1696px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8297_img
{
	padding-right: 261px;
	padding-bottom: 388px;
}

#u8301-7
{
	z-index: 5;
	min-height: 1172px;
	border-style: none;
	border-color: transparent;
}

.text_container
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 30px;
}

#u8301
{
	font-size: 1px;
	line-height: 0px;
}

#u8304
{
	margin-top: -48px;
	margin-bottom: 48px;
}

#u8305-3
{
	z-index: 11;
	width: 803px;
	min-height: 1234px;
	background-color: transparent;
	text-align: right;
}

.box7
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u8305
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u8302
{
	margin-right: 20px;
}

#u8303-33
{
	z-index: 16;
	width: 237px;
	min-height: 1312px;
	border-right-width: 20px;
	border-style: solid;
	border-color: #FFFFFF;
	padding-left: 20px;
	padding-right: 60px;
}

.box8
{
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u8303,#u8303-6
{
	text-align: center;
}

#u8303-8
{
	font-size: 60px;
	text-align: left;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8303-7
{
	font-size: 40px;
	line-height: 48px;
}

#u8303-9,#u8303-11,#u8303-13,#u8303-14,#u8303-16,#u8303-17,#u8303-18,#u8303-19
{
	font-size: 14px;
	text-align: left;
	line-height: 21px;
	color: #7F7F7F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: normal;
}

#u8303-20,#u8303-21,#u8303-22
{
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 2px;
	color: #382C2D;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u8303-23,#u8303-24
{
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 2px;
	color: #382C2D;
}

#u8303-25,#u8303-26,#u8303-27,#u8303-28,#u8303-29,#u8303-30,#u8303-31
{
	font-size: 14px;
	text-align: left;
	line-height: 21px;
	letter-spacing: 2px;
	color: #382C2D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
}

#u8301-7-bw
{
	z-index: 5;
	min-height: 1172px;
}

#down
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 824px;
	left: 444px;
}

#paccordionu1636
{
	width: 0.01px;
	padding-bottom: 508px;
	margin-left: -100px;
	margin-top: -1345px;
}

#accordionu1636
{
	z-index: 61;
	bottom: -46px;
}

#u1637
{
	z-index: 62;
}

#u1649-3
{
	z-index: 63;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 66;
}

#pu1648-23
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1648-23
{
	z-index: 67;
	width: 245px;
	min-height: 412px;
	padding-left: 25px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1650-9
{
	z-index: 90;
	width: 430px;
	min-height: 412px;
	margin-right: -10000px;
	left: 270px;
}

#widgetu1639
{
	z-index: 99;
	width: 0.01px;
	height: 63px;
	margin-right: -10000px;
	margin-top: 134px;
	left: 330px;
}

#widgetu1643
{
	z-index: 100;
	width: 225px;
	height: 27px;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 101;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu1643:hover #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643:hover #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643:hover #widgetu1643_prompt,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 105;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 109;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 113;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 117;
	min-height: 32px;
	width: 88px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-6
{
	z-index: 134;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 334px;
}

#u1901-6:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1933
{
	margin: -9px -10px -11px;
}

#u1932
{
	z-index: 140;
	width: 35px;
	height: 35px;
}

#u1932:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-5
{
	z-index: 142;
	width: 303px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 331px;
}

#u2019-4
{
	z-index: 147;
	width: 234px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 336px;
}

#u2127-4
{
	z-index: 166;
	width: 200px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 20px;
}

#u2017
{
	z-index: 151;
	width: 280px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 152;
	width: 280px;
	min-height: 29px;
}

#u2014-10
{
	z-index: 156;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
}

#u8806
{
	z-index: 170;
}

#u8807-4
{
	z-index: 171;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3.AccordionPanelTabOpen,#u8807-4:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8807-4.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8808
{
	z-index: 175;
	height: 414px;
}

#accordionu1636-bw
{
	z-index: 61;
}

#u6111-14
{
	z-index: 194;
	width: 541px;
	min-height: 26px;
	top: 38px;
	left: 219px;
}

#u8300
{
	z-index: 4;
	height: 367px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)),color-stop(100%, rgba(0,0,0,0.8)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) ,rgba(0,0,0,0.8) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) ,rgba(0,0,0,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#CC000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#CC000000', GradientType=0)";
	border-color: #000000;
	position: fixed;
	bottom: -359px;
}

#u8300-bw
{
	z-index: 4;
}

#u8307-4
{
	z-index: 50;
	width: 160px;
	min-height: 19px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-top: 6px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: fixed;
	bottom: -347px;
	left: 50%;
	margin-left: -165px;
}

#u8306-4
{
	z-index: 54;
	width: 131px;
	min-height: 19px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-top: 6px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: left;
	line-height: 14px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: fixed;
	bottom: -347px;
	left: 50%;
	margin-left: -1px;
}

#u8295
{
	z-index: 60;
	width: 420px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	bottom: -397px;
	left: 19px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

