.version.leslieville /* version checker */
{
	color: #0000EA;
	background-color: #77504D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -9px;
	width: 0.01px;
}

#u487-6
{
	z-index: 459;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 465;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

#u487-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 459;
	top: -13px;
}

#top
{
	left: -128px;
	position: relative;
}

#u2646-6
{
	z-index: 469;
	min-height: 50px;
	padding-right: 6px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 475;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 469;
	top: 16px;
}

#u7507
{
	z-index: 491;
	width: 248px;
	min-height: 73px;
	top: 24px;
	left: 24px;
}

#u6111-14
{
	z-index: 477;
	width: 541px;
	min-height: 26px;
	top: 38px;
	left: 219px;
}

#pu8980-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 63px;
}

#u8980-3
{
	z-index: 354;
	min-height: 123px;
	border-style: none;
	background-color: #AEDFE5;
}

#u8980-3-bw
{
	z-index: 354;
	min-height: 123px;
}

#u8981-4
{
	z-index: 357;
	width: 491px;
	min-height: 47px;
	background-color: transparent;
	color: #90624D;
	font-size: 40px;
	text-align: center;
	line-height: 48px;
	letter-spacing: 7px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 335px;
}

#u8981-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8981
{
	font-size: 45px;
	color: #FFFFFF;
	line-height: 54px;
}

#u8982-4
{
	z-index: 361;
	width: 91px;
	min-height: 11px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 388px;
	padding: 6px 7px 3px;
}

#u8982-4.MuseLinkActive
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 6px;
	padding-bottom: 3px;
	min-height: 12px;
	width: 91px;
	margin: 85px -10000px 0px 0px;
}

.catagory
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u8982-4.MuseLinkActive p,#u8982-4.MuseLinkActive h1
{
	color: #000000;
	visibility: inherit;
	line-height: 1.2;
	letter-spacing: 3px;
	font-size: 12px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	padding: 0px;
}

#u8983-4
{
	z-index: 365;
	width: 115px;
	min-height: 14px;
	padding: 3px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 501px;
}

#u8984-4
{
	z-index: 369;
	width: 182px;
	min-height: 14px;
	padding: 3px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 631px;
}

#u8982-2,#u8983-2,#u8984-2
{
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#pppu2813-20
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 38px;
}

#ppu2813-20
{
	width: 0.01px;
	margin-right: -10000px;
}

#u2813-20
{
	z-index: 3;
	width: 276px;
	min-height: 396px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

.home_thumb_container
{
	border-width: 1px;
	border-style: solid;
	border-color: #989898;
	background-color: transparent;
}

#u2813-3,#u2813-4,#u2813-5,#u2813-6,#u2813-7,#u2813-8,#u2813-9,#u2813-10,#u2813-11,#u2813-12,#u2813-13,#u2813-14,#u2813-15,#u2813-16
{
	font-size: 14px;
	letter-spacing: 5px;
}

#u2813-18
{
	font-size: 30px;
	line-height: 27px;
	letter-spacing: -1px;
}

#u6315
{
	z-index: 342;
	width: 280px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/famliyonwers-u6315-fr.jpg") no-repeat left top;
	background-size: contain;
}

.home_thumb_img
{
	border-style: none;
	border-color: #000000;
	background: #7F7F7F url("../images/home_thumb1.jpg") no-repeat left top;
	background-size: contain;
}

#pu4169
{
	width: 0.01px;
	margin-top: 50px;
}

#u4169
{
	z-index: 95;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4176-38
{
	z-index: 96;
	width: 276px;
	min-height: 576px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u4176-25,#u4176-26,#u4176-27
{
	text-align: center;
	line-height: 13px;
	letter-spacing: -1px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u4176-31
{
	font-size: 18px;
	text-align: center;
	line-height: 16px;
	letter-spacing: -1px;
	color: #333333;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u4176-35
{
	text-align: center;
	line-height: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u4176-36
{
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u6322
{
	z-index: 345;
	width: 280px;
	height: 386px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/businessowner1-u6322-fr.jpg") no-repeat right top;
	background-size: cover;
}

#u4276
{
	z-index: 225;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4280-22
{
	z-index: 226;
	width: 276px;
	min-height: 386px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u4176-33,#u4280-15
{
	font-size: 36px;
	text-align: center;
	line-height: 32px;
	letter-spacing: -1px;
	color: #333333;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u6340
{
	z-index: 353;
	width: 280px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/bikestoreowner-u6340-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u4290
{
	z-index: 248;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4294-35
{
	z-index: 249;
	width: 276px;
	min-height: 591px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u4294-25
{
	text-align: center;
	line-height: 17px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u4294-26
{
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u4294-29
{
	font-size: 36px;
	text-align: center;
	letter-spacing: -1px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4294-28
{
	line-height: 32px;
}

#u4294-32
{
	text-align: center;
	letter-spacing: -1px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u6331
{
	z-index: 349;
	width: 280px;
	height: 388px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/storeownerhappy-u6331-fr.jpg") no-repeat right top;
	background-size: cover;
}

#ppu3019
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 320px;
}

#u3019
{
	z-index: 134;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3023-34
{
	z-index: 135;
	width: 276px;
	min-height: 583px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u3023-24
{
	text-align: center;
	line-height: 25px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u4280-17,#u4280-18,#u3023-26,#u3023-28
{
	font-size: 30px;
	text-align: center;
	line-height: 27px;
	letter-spacing: -1px;
	color: #333333;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u4176-29,#u3023-30
{
	font-size: 24px;
	text-align: center;
	line-height: 22px;
	letter-spacing: -1px;
	color: #333333;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u3023-31
{
	text-align: center;
	letter-spacing: 4px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6316
{
	z-index: 343;
	width: 280px;
	height: 389px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/grocerystore%20(1)-u6316-fr.jpg") no-repeat center top;
	background-size: cover;
}

#pu4155
{
	width: 0.01px;
	margin-top: 53px;
}

#u4155
{
	z-index: 74;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4156-20
{
	z-index: 75;
	width: 276px;
	min-height: 386px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u4156-14
{
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	letter-spacing: 5px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u6323
{
	z-index: 346;
	width: 280px;
	height: 196px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/businessower-u1336-fr.jpg") no-repeat left center;
	background-size: cover;
}

#u4262
{
	z-index: 193;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4269-31
{
	z-index: 194;
	width: 276px;
	min-height: 583px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u4269-28
{
	font-size: 30px;
	text-align: center;
	line-height: 42px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u6330
{
	z-index: 348;
	width: 280px;
	height: 387px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/grocerimage-u6330-fr.jpg") no-repeat center top;
	background-size: cover;
}

#pu4304
{
	width: 0.01px;
	margin-top: 46px;
}

#u4304
{
	z-index: 284;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4305-22
{
	z-index: 285;
	width: 276px;
	min-height: 399px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u4305-14
{
	text-align: center;
	line-height: 12px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6334
{
	z-index: 350;
	width: 280px;
	height: 196px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/happy%20business%20owner-u6334-fr.jpg") no-repeat left center;
	background-size: cover;
}

#ppu3033
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 640px;
}

#pu2813-20,#pu3019,#pu3033
{
	width: 0.01px;
}

#u3033
{
	z-index: 169;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3040-20
{
	z-index: 170;
	width: 276px;
	min-height: 396px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u4294-31,#u4156-16,#u4305-17,#u3040-15
{
	font-size: 36px;
	text-align: center;
	line-height: 32px;
	letter-spacing: -1px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u6319
{
	z-index: 344;
	width: 280px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/retailstoreowner%20(1)-u6319-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u4135
{
	z-index: 42;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4139-31
{
	z-index: 43;
	width: 276px;
	min-height: 577px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u4139-24
{
	text-align: center;
	line-height: 18px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u4139-25
{
	font-size: 30px;
	text-align: center;
	line-height: 37px;
	letter-spacing: 5px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u4139-29
{
	font-size: 24px;
	text-align: center;
	line-height: 22px;
	letter-spacing: -1px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u6336
{
	z-index: 352;
	width: 280px;
	height: 386px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
	background: #7F7F7F url("../images/meatshopowner.jpg") no-repeat right top;
	background-size: cover;
}

#pu4276,#pu4262,#pu4135,#pu4248
{
	width: 0.01px;
	margin-top: 49px;
}

#u4248
{
	z-index: 23;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4252-18
{
	z-index: 24;
	width: 276px;
	min-height: 386px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u4156-18,#u4305-19,#u3040-17,#u4139-27,#u4252-15
{
	font-size: 30px;
	text-align: center;
	line-height: 27px;
	letter-spacing: -1px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u6329
{
	z-index: 347;
	width: 280px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/small-business%20owner-u6329-fr.jpg") no-repeat left top;
	background-size: contain;
}

#pu4290,#pu4322-35
{
	width: 0.01px;
	margin-top: 51px;
}

#u4322-35
{
	z-index: 307;
	width: 276px;
	min-height: 591px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u4176-3,#u4176-4,#u4176-5,#u4176-6,#u4176-7,#u4176-8,#u4176-9,#u4176-10,#u4176-11,#u4176-12,#u4176-13,#u4176-14,#u4176-15,#u4176-16,#u4176-17,#u4176-18,#u4176-19,#u4176-20,#u4176-21,#u4176-22,#u4176-23,#u4176-24,#u4280-3,#u4280-4,#u4280-5,#u4280-6,#u4280-7,#u4280-8,#u4280-9,#u4280-10,#u4280-11,#u4280-12,#u4280-13,#u4294-3,#u4294-4,#u4294-5,#u4294-6,#u4294-7,#u4294-8,#u4294-9,#u4294-10,#u4294-11,#u4294-12,#u4294-13,#u4294-14,#u4294-15,#u4294-16,#u4294-17,#u4294-18,#u4294-19,#u4294-20,#u4294-21,#u4294-22,#u4294-23,#u4294-24,#u3023-3,#u3023-4,#u3023-5,#u3023-6,#u3023-7,#u3023-8,#u3023-9,#u3023-10,#u3023-11,#u3023-12,#u3023-13,#u3023-14,#u3023-15,#u3023-16,#u3023-17,#u3023-18,#u3023-19,#u3023-20,#u3023-21,#u3023-22,#u3023-23,#u3023-25,#u4156-3,#u4156-4,#u4156-5,#u4156-6,#u4156-7,#u4156-8,#u4156-9,#u4156-10,#u4156-11,#u4156-12,#u4156-13,#u4269-3,#u4269-4,#u4269-5,#u4269-6,#u4269-7,#u4269-8,#u4269-9,#u4269-10,#u4269-11,#u4269-12,#u4269-13,#u4269-14,#u4269-15,#u4269-16,#u4269-17,#u4269-18,#u4269-19,#u4269-20,#u4269-21,#u4269-22,#u4269-23,#u4269-24,#u4269-25,#u4269-26,#u4305-3,#u4305-4,#u4305-5,#u4305-6,#u4305-7,#u4305-8,#u4305-9,#u4305-10,#u4305-11,#u4305-12,#u4305-13,#u4305-15,#u3040-3,#u3040-4,#u3040-5,#u3040-6,#u3040-7,#u3040-8,#u3040-9,#u3040-10,#u3040-11,#u3040-12,#u4139-3,#u4139-4,#u4139-5,#u4139-6,#u4139-7,#u4139-8,#u4139-9,#u4139-10,#u4139-11,#u4139-12,#u4139-13,#u4139-14,#u4139-15,#u4139-16,#u4139-17,#u4139-18,#u4139-19,#u4139-20,#u4139-21,#u4139-22,#u4139-23,#u4252-3,#u4252-4,#u4252-5,#u4252-6,#u4252-7,#u4252-8,#u4252-9,#u4252-10,#u4252-11,#u4252-12,#u4252-13,#u4322-3,#u4322-4,#u4322-5,#u4322-6,#u4322-7,#u4322-8,#u4322-9,#u4322-10,#u4322-11,#u4322-12,#u4322-13,#u4322-14,#u4322-15,#u4322-16,#u4322-17,#u4322-18,#u4322-19,#u4322-20,#u4322-21,#u4322-22,#u4322-23,#u4322-24,#u4322-25
{
	font-size: 14px;
	text-align: center;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u3040-13,#u4322-26
{
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	letter-spacing: 5px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u4294-27,#u4322-27
{
	font-size: 24px;
	line-height: 22px;
}

#u4322-29,#u4322-32
{
	font-size: 30px;
	text-align: center;
	letter-spacing: -1px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4322-30
{
	font-size: 36px;
	line-height: 32px;
}

#u4322-28,#u4322-31
{
	line-height: 27px;
}

#u4176,#u4176-2,#u4280,#u4280-2,#u4280-19,#u4280-20,#u4294,#u4294-2,#u4294-33,#u3023,#u3023-2,#u3023-32,#u4156,#u4156-2,#u4269,#u4269-2,#u4269-29,#u4305,#u4305-2,#u4305-20,#u3040,#u3040-2,#u3040-18,#u4139,#u4139-2,#u4252,#u4252-2,#u4252-16,#u4322,#u4322-2,#u4322-33
{
	text-align: center;
}

#u6335
{
	z-index: 351;
	width: 280px;
	height: 388px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/grocerowner1-u6335-fr.jpg") no-repeat right top;
	background-size: cover;
}

.js #u6322.ose_pre_init,.js #u6340.ose_pre_init,.js #u6331.ose_pre_init,.js #u6323.ose_pre_init,.js #u6330.ose_pre_init,.js #u6334.ose_pre_init,.js #u6336.ose_pre_init,.js #u6329.ose_pre_init,.js #u6335.ose_pre_init
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

#u4116-3
{
	z-index: 190;
	width: 32px;
	min-height: 1754px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 699px;
	left: 976px;
}

#accordionu1636
{
	z-index: 373;
	padding-bottom: 1px;
	bottom: -460px;
}

#u1637
{
	z-index: 374;
}

#u1649-3
{
	z-index: 375;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 378;
	padding-bottom: 2px;
}

#pu1650-9
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 270px;
}

#u1650-9
{
	z-index: 379;
	width: 430px;
	min-height: 412px;
	margin-right: -10000px;
}

#widgetu1639
{
	z-index: 388;
	width: 0.01px;
	height: 63px;
	margin-right: -10000px;
	margin-top: 134px;
	left: 60px;
}

#widgetu1643
{
	z-index: 389;
	width: 225px;
	height: 27px;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 390;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 394;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 398;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 402;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 406;
	min-height: 32px;
	width: 88px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-6
{
	z-index: 423;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 64px;
}

#u1901-6:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1933
{
	margin: -9px -10px -11px;
}

#u1932
{
	z-index: 429;
	width: 35px;
	height: 35px;
}

#u1932:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-5
{
	z-index: 431;
	width: 303px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 61px;
}

#u2019-4
{
	z-index: 436;
	width: 234px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 66px;
}

#u2017
{
	z-index: 440;
	width: 280px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 441;
	width: 280px;
	min-height: 29px;
}

#u2014-8
{
	z-index: 445;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
}

#u8806
{
	z-index: 453;
	top: -1px;
	margin-bottom: -1px;
}

#u8807-4
{
	z-index: 454;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3.AccordionPanelTabOpen,#u8807-4:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8807-4.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8808
{
	z-index: 458;
	height: 414px;
}

#accordionu1636-bw
{
	z-index: 373;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

