.version.retail /* version checker */
{
	color: #000012;
	background-color: #3A701C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -9px;
	width: 0.01px;
}

#u487-6
{
	z-index: 190;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 196;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

#u487-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 190;
	top: -13px;
}

#top
{
	left: -128px;
	position: relative;
}

#u2646-6
{
	z-index: 200;
	min-height: 50px;
	padding-right: 6px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 206;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 200;
	top: 16px;
}

#u7507
{
	z-index: 222;
	width: 248px;
	min-height: 73px;
	top: 24px;
	left: 24px;
}

#u6111-14
{
	z-index: 208;
	width: 541px;
	min-height: 26px;
	top: 38px;
	left: 219px;
}

#pu9483-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 63px;
}

#u9483-3
{
	z-index: 97;
	min-height: 123px;
	border-style: none;
	background-color: #AEDFE5;
}

#u9483-3:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 0px;
}

#u9483-3:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 0px;
}

#u9483-3-bw
{
	z-index: 97;
	min-height: 123px;
}

#u9482-4
{
	z-index: 100;
	width: 491px;
	min-height: 47px;
	background-color: transparent;
	color: #90624D;
	font-size: 40px;
	text-align: center;
	line-height: 48px;
	letter-spacing: 7px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 335px;
}

#u9482-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u9482
{
	font-size: 45px;
	color: #FFFFFF;
	line-height: 54px;
}

#ppu9443
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 31px;
}

#pu9443
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 310px;
}

#u9443
{
	z-index: 6;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u9444-30
{
	z-index: 7;
	width: 276px;
	min-height: 488px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

.home_thumb_container
{
	border-width: 1px;
	border-style: solid;
	border-color: #989898;
	background-color: transparent;
}

#u9444-27
{
	font-size: 30px;
	text-align: center;
	line-height: 42px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u9442
{
	z-index: 94;
	width: 280px;
	height: 387px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/grocerimage-u6330-fr.jpg") no-repeat center top;
	background-size: cover;
}

.home_thumb_img
{
	border-style: none;
	border-color: #000000;
	background: #7F7F7F url("../images/home_thumb1.jpg") no-repeat left top;
	background-size: contain;
}

#u9455
{
	z-index: 37;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u9456-22
{
	z-index: 38;
	width: 276px;
	min-height: 340px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u9456-14
{
	text-align: center;
	line-height: 12px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u9456-17
{
	font-size: 36px;
	text-align: center;
	line-height: 32px;
	letter-spacing: -1px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u9456-19
{
	font-size: 30px;
	text-align: center;
	line-height: 27px;
	letter-spacing: -1px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u9447-34
{
	z-index: 60;
	width: 276px;
	min-height: 493px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
	left: 630px;
}

#u9444-3,#u9444-4,#u9444-5,#u9444-6,#u9444-7,#u9444-8,#u9444-9,#u9444-10,#u9444-11,#u9444-12,#u9444-13,#u9444-14,#u9444-15,#u9444-16,#u9444-17,#u9444-18,#u9444-19,#u9444-20,#u9444-21,#u9444-22,#u9444-23,#u9444-24,#u9444-25,#u9456-3,#u9456-4,#u9456-5,#u9456-6,#u9456-7,#u9456-8,#u9456-9,#u9456-10,#u9456-11,#u9456-12,#u9456-13,#u9456-15,#u9447-3,#u9447-4,#u9447-5,#u9447-6,#u9447-7,#u9447-8,#u9447-9,#u9447-10,#u9447-11,#u9447-12,#u9447-13,#u9447-14,#u9447-15,#u9447-16,#u9447-17,#u9447-18,#u9447-19,#u9447-20,#u9447-21,#u9447-22,#u9447-23,#u9447-24,#u9447-25
{
	font-size: 14px;
	text-align: center;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u9447-26
{
	font-size: 24px;
	line-height: 22px;
}

#u9447-28,#u9447-31
{
	font-size: 30px;
	text-align: center;
	letter-spacing: -1px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u9447-29
{
	font-size: 36px;
	line-height: 32px;
}

#u9447-27,#u9447-30
{
	line-height: 27px;
}

#u9444,#u9444-2,#u9444-28,#u9456,#u9456-2,#u9456-20,#u9447,#u9447-2,#u9447-32
{
	text-align: center;
}

#u9450
{
	z-index: 95;
	width: 280px;
	height: 196px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
	background: #7F7F7F url("../images/happy%20business%20owner-u6334-fr.jpg") no-repeat left center;
	background-size: cover;
}

#u9481
{
	z-index: 96;
	width: 280px;
	height: 388px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 640px;
	background: #7F7F7F url("../images/grocerowner1-u6335-fr.jpg") no-repeat right top;
	background-size: cover;
}

.js #u9442.ose_pre_init,.js #u9450.ose_pre_init,.js #u9481.ose_pre_init
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

#accordionu1636
{
	z-index: 104;
	padding-bottom: 1px;
	bottom: -460px;
}

#u1637
{
	z-index: 105;
}

#u1649-3
{
	z-index: 106;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 109;
	padding-bottom: 2px;
}

#pu1650-9
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 270px;
}

#u1650-9
{
	z-index: 110;
	width: 430px;
	min-height: 412px;
	margin-right: -10000px;
}

#widgetu1639
{
	z-index: 119;
	width: 0.01px;
	height: 63px;
	margin-right: -10000px;
	margin-top: 134px;
	left: 60px;
}

#widgetu1643
{
	z-index: 120;
	width: 225px;
	height: 27px;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 121;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 125;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 129;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 133;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 137;
	min-height: 32px;
	width: 88px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-6
{
	z-index: 154;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 64px;
}

#u1901-6:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1933
{
	margin: -9px -10px -11px;
}

#u1932
{
	z-index: 160;
	width: 35px;
	height: 35px;
}

#u1932:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-5
{
	z-index: 162;
	width: 303px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 61px;
}

#u2019-4
{
	z-index: 167;
	width: 234px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 66px;
}

#u2017
{
	z-index: 171;
	width: 280px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 172;
	width: 280px;
	min-height: 29px;
}

#u2014-8
{
	z-index: 176;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
}

#u8806
{
	z-index: 184;
	top: -1px;
	margin-bottom: -1px;
}

#u8807-4
{
	z-index: 185;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3.AccordionPanelTabOpen,#u8807-4:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8807-4.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8808
{
	z-index: 189;
	height: 414px;
}

#accordionu1636-bw
{
	z-index: 104;
}

#u9460-3
{
	z-index: 3;
	width: 32px;
	min-height: 1754px;
	background-color: transparent;
	margin-left: 986px;
	margin-top: 188px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

