.version.services /* version checker */
{
	color: #0000E0;
	background-color: #75AEC5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -9px;
	width: 0.01px;
}

#u487-6
{
	z-index: 195;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 201;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

#u487-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 195;
	top: -13px;
}

#top
{
	left: -128px;
	position: relative;
}

#u2646-6
{
	z-index: 205;
	min-height: 50px;
	padding-right: 6px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 211;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 205;
	top: 16px;
}

#u7507
{
	z-index: 227;
	width: 248px;
	min-height: 73px;
	top: 24px;
	left: 24px;
}

#u6111-14
{
	z-index: 213;
	width: 541px;
	min-height: 26px;
	top: 38px;
	left: 219px;
}

#pu9387-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 63px;
}

#u9387-3
{
	z-index: 73;
	min-height: 123px;
	border-style: none;
	background-color: #AEDFE5;
}

#u9387-3:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 0px;
}

#u9387-3:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 0px;
}

#u9387-3-bw
{
	z-index: 73;
	min-height: 123px;
}

#u9386-4
{
	z-index: 76;
	width: 491px;
	min-height: 47px;
	background-color: transparent;
	color: #90624D;
	font-size: 40px;
	text-align: center;
	line-height: 48px;
	letter-spacing: 7px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 335px;
}

#u9386-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u9386
{
	font-size: 45px;
	color: #FFFFFF;
	line-height: 54px;
}

#ppu9374
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 32px;
}

#pu9374
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 323px;
}

#u9374
{
	z-index: 47;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u9375-22
{
	z-index: 48;
	width: 276px;
	min-height: 386px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

.home_thumb_container
{
	border-width: 1px;
	border-style: solid;
	border-color: #989898;
	background-color: transparent;
}

#u9375-15
{
	font-size: 36px;
	text-align: center;
	line-height: 32px;
	letter-spacing: -1px;
	color: #333333;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u9375-17,#u9375-18
{
	font-size: 30px;
	text-align: center;
	line-height: 27px;
	letter-spacing: -1px;
	color: #333333;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u9355
{
	z-index: 72;
	width: 280px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/bikestoreowner-u6340-fr.jpg") no-repeat left top;
	background-size: cover;
}

.home_thumb_img
{
	border-style: none;
	border-color: #000000;
	background: #7F7F7F url("../images/home_thumb1.jpg") no-repeat left top;
	background-size: contain;
}

.js #u9355.ose_pre_init
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

#u9377-20
{
	z-index: 3;
	width: 276px;
	min-height: 396px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u9377-3,#u9377-4,#u9377-5,#u9377-6,#u9377-7,#u9377-8,#u9377-9,#u9377-10,#u9377-11,#u9377-12,#u9377-13,#u9377-14,#u9377-15,#u9377-16
{
	font-size: 14px;
	letter-spacing: 5px;
}

#u9377-18
{
	font-size: 30px;
	line-height: 27px;
	letter-spacing: -1px;
}

#u9349
{
	z-index: 23;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 640px;
}

#u9350-20
{
	z-index: 24;
	width: 276px;
	min-height: 396px;
	border-width: 2px;
	border-style: solid;
	border-color: #F79351;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u9375-3,#u9375-4,#u9375-5,#u9375-6,#u9375-7,#u9375-8,#u9375-9,#u9375-10,#u9375-11,#u9375-12,#u9375-13,#u9350-3,#u9350-4,#u9350-5,#u9350-6,#u9350-7,#u9350-8,#u9350-9,#u9350-10,#u9350-11,#u9350-12
{
	font-size: 14px;
	text-align: center;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u9350-13
{
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	letter-spacing: 5px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u9350-15
{
	font-size: 36px;
	text-align: center;
	line-height: 32px;
	letter-spacing: -1px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u9350-17
{
	font-size: 30px;
	text-align: center;
	line-height: 27px;
	letter-spacing: -1px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u9375,#u9375-2,#u9375-19,#u9375-20,#u9350,#u9350-2,#u9350-18
{
	text-align: center;
}

#u9369
{
	z-index: 70;
	width: 280px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 10px;
	background: #7F7F7F url("../images/famliyonwers-u6315-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u9384
{
	z-index: 71;
	width: 280px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 650px;
	background: #7F7F7F url("../images/retailstoreowner%20(1)-u6319-fr.jpg") no-repeat left top;
	background-size: cover;
}

#accordionu1636
{
	z-index: 80;
	bottom: -46px;
}

#u1637
{
	z-index: 81;
}

#u1649-3
{
	z-index: 82;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 85;
}

#pu1648-23
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1648-23
{
	z-index: 86;
	width: 245px;
	min-height: 412px;
	padding-left: 25px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1650-9
{
	z-index: 109;
	width: 430px;
	min-height: 412px;
	margin-right: -10000px;
	left: 270px;
}

#widgetu1639
{
	z-index: 118;
	width: 0.01px;
	height: 63px;
	margin-right: -10000px;
	margin-top: 134px;
	left: 330px;
}

#widgetu1643
{
	z-index: 119;
	width: 225px;
	height: 27px;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 120;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu1643:hover #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643:hover #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643:hover #widgetu1643_prompt,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 124;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 128;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 132;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 136;
	min-height: 32px;
	width: 88px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-6
{
	z-index: 153;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 334px;
}

#u1901-6:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1933
{
	margin: -9px -10px -11px;
}

#u1932
{
	z-index: 159;
	width: 35px;
	height: 35px;
}

#u1932:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-5
{
	z-index: 161;
	width: 303px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 331px;
}

#u2019-4
{
	z-index: 166;
	width: 234px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 336px;
}

#u2127-4
{
	z-index: 185;
	width: 200px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 20px;
}

#u2017
{
	z-index: 170;
	width: 280px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 171;
	width: 280px;
	min-height: 29px;
}

#u2014-10
{
	z-index: 175;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
}

#u8806
{
	z-index: 189;
}

#u8807-4
{
	z-index: 190;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3.AccordionPanelTabOpen,#u8807-4:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8807-4.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8808
{
	z-index: 194;
	height: 414px;
}

#accordionu1636-bw
{
	z-index: 80;
}

#u9364-3
{
	z-index: 44;
	width: 32px;
	min-height: 1754px;
	background-color: transparent;
	margin-left: 986px;
	margin-top: 299px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

