.version.shop /* version checker */
{
	color: #0000FC;
	background-color: #FCCE49;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 80px;
	width: 0.01px;
}

#u487-6
{
	z-index: 115;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 121;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

#u487-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 115;
	top: -13px;
}

#u2646-6
{
	z-index: 125;
	min-height: 50px;
	padding-right: 6px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 131;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 125;
	top: 16px;
}

#u6314
{
	z-index: 149;
	width: 35px;
	height: 1px;
	border-color: #000000;
	background-color: #382C2D;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: 190px;
}

#u7507
{
	z-index: 147;
	width: 248px;
	min-height: 73px;
	top: 24px;
	left: 24px;
}

#u5260
{
	z-index: 148;
	width: 158px;
	min-height: 43px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 22px;
	right: 181px;
}

#u6111-14
{
	z-index: 133;
	width: 541px;
	min-height: 26px;
	top: 38px;
	left: 219px;
}

#pu5314
{
	width: 0.01px;
	margin-left: -100px;
}

#u5314
{
	z-index: 2;
	height: 413px;
	border-color: #000000;
	background: #7F7F7F url("../images/bikebasket.jpg") no-repeat left bottom;
	background-size: cover;
}

#u5314-bw
{
	z-index: 2;
	height: 413px;
}

#u5426
{
	z-index: 3;
	height: 411px;
	border-color: #000000;
	background-color: #90624D;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}

#u5426-bw
{
	z-index: 3;
	margin-top: 2px;
	height: 411px;
}

#u5323-3
{
	z-index: 4;
	min-height: 43px;
	border-style: none;
	background-color: #FFFFFF;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

.hr
{
	border-style: solid;
	border-color: #EAEAEA;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u5323
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u5323-3-bw
{
	z-index: 4;
	min-height: 43px;
	margin-top: 378px;
}

#u5359-6
{
	z-index: 10;
	min-height: 142px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: transparent;
	text-align: right;
	border-width: 0px 0px 1px;
}

#u5359
{
	font-size: 1px;
	line-height: 0px;
}

#u5362
{
	margin-bottom: -20px;
}

#u5361-5
{
	z-index: 16;
	width: 329px;
	min-height: 142px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: transparent;
	border-width: 0px 0px 0px 1px;
}

#u5366
{
	float: right;
	margin-top: 71px;
	margin-bottom: -91px;
}

#u5365-3
{
	z-index: 21;
	width: 330px;
	min-height: 49px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u5359-6-bw
{
	z-index: 10;
	min-height: 142px;
	margin-top: 413px;
}

#u5256
{
	z-index: 26;
	min-height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5256-bw
{
	z-index: 26;
	min-height: 106px;
	margin-top: 374px;
}

#u5254
{
	z-index: 27;
	min-height: 698px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5254-bw
{
	z-index: 27;
	min-height: 698px;
	margin-top: 500px;
}

#u6912
{
	z-index: 28;
	width: 815px;
	min-height: 112px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 425px;
}

#accordionu1636
{
	z-index: 29;
	padding-bottom: 1px;
	bottom: -460px;
}

#u1637
{
	z-index: 30;
}

#u1649-3
{
	z-index: 31;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 34;
	padding-bottom: 2px;
}

#pu1650-9
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 270px;
}

#u1650-9
{
	z-index: 35;
	width: 430px;
	min-height: 412px;
	margin-right: -10000px;
}

#widgetu1639
{
	z-index: 44;
	width: 0.01px;
	height: 63px;
	margin-right: -10000px;
	margin-top: 134px;
	left: 60px;
}

#widgetu1643
{
	z-index: 45;
	width: 225px;
	height: 27px;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 46;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 50;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 54;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 58;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 62;
	min-height: 32px;
	width: 88px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-6
{
	z-index: 79;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 64px;
}

#u1901-6:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1933
{
	margin: -9px -10px -11px;
}

#u1932
{
	z-index: 85;
	width: 35px;
	height: 35px;
}

#u1932:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-5
{
	z-index: 87;
	width: 303px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 61px;
}

#u2019-4
{
	z-index: 92;
	width: 234px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 66px;
}

#u2017
{
	z-index: 96;
	width: 280px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 97;
	width: 280px;
	min-height: 29px;
}

#u2014-8
{
	z-index: 101;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
}

#u8806
{
	z-index: 109;
	top: -1px;
	margin-bottom: -1px;
}

#u8807-4
{
	z-index: 110;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3.AccordionPanelTabOpen,#u8807-4:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8807-4.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8808
{
	z-index: 114;
	height: 414px;
}

#accordionu1636-bw
{
	z-index: 29;
}

#u5315-3
{
	z-index: 7;
	width: 170px;
	min-height: 773px;
	background-color: transparent;
	left: -160px;
	margin-top: 31px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

