.version.simple_sign_up /* version checker */
{
	color: #000001;
	background-color: #98F9F6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 121px;
	padding-right: 960px;
	padding-bottom: 379px;
	margin-left: auto;
	margin-right: auto;
}

#u487-6
{
	z-index: 88;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 94;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

#u487-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 88;
	top: -13px;
}

#u2646-6
{
	z-index: 98;
	min-height: 50px;
	padding-right: 6px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 104;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 98;
	top: 16px;
}

#u7507
{
	z-index: 120;
	width: 248px;
	min-height: 73px;
	top: 24px;
	left: 24px;
}

#u6111-14
{
	z-index: 106;
	width: 541px;
	min-height: 26px;
	top: 38px;
	left: 219px;
}

#accordionu1636
{
	z-index: 2;
	padding-bottom: 1px;
	bottom: -460px;
}

#u1637
{
	z-index: 3;
}

#u1649-3
{
	z-index: 4;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 7;
	padding-bottom: 2px;
}

#pu1650-9
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 270px;
}

#u1650-9
{
	z-index: 8;
	width: 430px;
	min-height: 412px;
	margin-right: -10000px;
}

#widgetu1639
{
	z-index: 17;
	width: 0.01px;
	height: 63px;
	margin-right: -10000px;
	margin-top: 134px;
	left: 60px;
}

#widgetu1643
{
	z-index: 18;
	width: 225px;
	height: 27px;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 19;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 23;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 27;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 31;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 35;
	min-height: 32px;
	width: 88px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-6
{
	z-index: 52;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 64px;
}

#u1901-6:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1933
{
	margin: -9px -10px -11px;
}

#u1932
{
	z-index: 58;
	width: 35px;
	height: 35px;
}

#u1932:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-5
{
	z-index: 60;
	width: 303px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 61px;
}

#u2019-4
{
	z-index: 65;
	width: 234px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 66px;
}

#u2017
{
	z-index: 69;
	width: 280px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 70;
	width: 280px;
	min-height: 29px;
}

#u2014-8
{
	z-index: 74;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
}

#u8806
{
	z-index: 82;
	top: -1px;
	margin-bottom: -1px;
}

#u8807-4
{
	z-index: 83;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3.AccordionPanelTabOpen,#u8807-4:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8807-4.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8808
{
	z-index: 87;
	height: 414px;
}

#accordionu1636-bw
{
	z-index: 2;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

