.version.what /* version checker */
{
	color: #0000F5;
	background-color: #96FC54;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 160px;
	width: 0.01px;
}

#u487-6
{
	z-index: 311;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 317;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

#u487-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 311;
	top: -13px;
}

#u2646-6
{
	z-index: 321;
	min-height: 50px;
	padding-right: 6px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 327;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 321;
	top: 16px;
}

#u6310
{
	z-index: 344;
	width: 35px;
	height: 1px;
	border-color: #000000;
	background-color: #382C2D;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: 77px;
}

#u7507
{
	z-index: 343;
	width: 248px;
	min-height: 73px;
	top: 24px;
	left: 24px;
}

#u6111-14
{
	z-index: 329;
	width: 541px;
	min-height: 26px;
	top: 38px;
	left: 219px;
}

#pu2398-10
{
	width: 0.01px;
	margin-left: -100px;
}

#u2398-10
{
	z-index: 2;
	min-height: 500px;
	border-style: solid;
	text-align: left;
	border-width: 0px 30px;
}

.text_container
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 30px;
}

#u2400-6
{
	z-index: 8;
	width: 355px;
	min-height: 310px;
	border-style: solid;
	opacity: 0.98;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
	filter: alpha(opacity=98);
	padding-top: 190px;
	color: #FFFFFF;
	font-size: 50px;
	line-height: 60px;
	letter-spacing: 1px;
	text-align: center;
	font-family: meddon, cursive;
	font-weight: 400;
	border-width: 0px 5px 0px 0px;
	background: #000000 url("../images/thumb_tank.jpg") no-repeat center center;
	background-size: cover;
}

.box1
{
	border-style: solid;
	border-color: #F8F8F8;
	border-width: 2px 5px 2px 0px;
	background: #000000 url("../images/bikebasket-ieu2400-6-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/bikebasket.jpg") no-repeat center center;
	background-color: #000000;
	background-size: cover;
}

#u2402-15
{
	z-index: 14;
	width: 284px;
	min-height: 139px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u2406-3
{
	z-index: 23;
	width: 96px;
	min-height: 17px;
	border-style: solid;
	border-width: 1px 0px 0px;
}

.hr
{
	border-style: solid;
	border-color: #EAEAEA;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u2404-4
{
	z-index: 31;
	width: 182px;
	min-height: 15px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 12px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 3px;
	font-family: abel, sans-serif;
	font-weight: 400;
}

.social_link
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u2408-6
{
	z-index: 41;
	width: 355px;
	min-height: 500px;
	border-style: solid;
	text-align: center;
	border-width: 0px 0px 0px 5px;
	background: #EAEAEA url("../images/thumb_ring.jpg") no-repeat center center;
	background-size: cover;
}

.box2
{
	border-style: solid;
	border-color: #F8F8F8;
	background-color: #EAEAEA;
	border-width: 2px 4px 2px 3px;
}

#u2410-15
{
	z-index: 47;
	width: 284px;
	min-height: 139px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u2414-3
{
	z-index: 56;
	width: 96px;
	min-height: 17px;
	border-style: solid;
	border-width: 1px 0px 0px;
}

#u2412-4
{
	z-index: 64;
	width: 182px;
	min-height: 15px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 12px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 3px;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u2398-10-bw
{
	z-index: 2;
	min-height: 500px;
	margin-top: 1010px;
}

#u2267-10
{
	z-index: 76;
	min-height: 500px;
	border-style: solid;
	text-align: left;
	border-width: 0px 30px;
}

#u2277-6
{
	z-index: 82;
	width: 355px;
	min-height: 310px;
	border-style: solid;
	opacity: 0.98;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
	filter: alpha(opacity=98);
	padding-top: 190px;
	color: #FFFFFF;
	font-size: 50px;
	line-height: 60px;
	letter-spacing: 1px;
	text-align: center;
	font-family: meddon, cursive;
	font-weight: 400;
	border-width: 0px 5px 0px 0px;
	background: #000000 url("../images/denim.jpg") no-repeat center center;
	background-size: cover;
}

#u2373-15
{
	z-index: 88;
	width: 284px;
	min-height: 139px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u2375-3
{
	z-index: 97;
	width: 96px;
	min-height: 17px;
	border-style: solid;
	border-width: 1px 0px 0px;
}

#u2377-4
{
	z-index: 105;
	width: 182px;
	min-height: 15px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 12px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 3px;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u2269-6
{
	z-index: 115;
	width: 355px;
	min-height: 500px;
	border-style: solid;
	text-align: center;
	border-width: 0px 0px 0px 5px;
	background: #EAEAEA url("../images/glasses.jpg") no-repeat center center;
	background-size: cover;
}

#u2361-15
{
	z-index: 121;
	width: 284px;
	min-height: 139px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u2363-3
{
	z-index: 130;
	width: 96px;
	min-height: 17px;
	border-style: solid;
	border-width: 1px 0px 0px;
}

#u2365-4
{
	z-index: 138;
	width: 182px;
	min-height: 15px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 12px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 3px;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u2267-10-bw
{
	z-index: 76;
	min-height: 500px;
	margin-top: 505px;
}

#u1855-10
{
	z-index: 150;
	min-height: 500px;
	border-style: solid;
	text-align: left;
	border-width: 0px 30px;
}

#u1857-6
{
	z-index: 156;
	width: 355px;
	min-height: 310px;
	border-style: solid;
	padding-top: 190px;
	color: #FFFFFF;
	font-size: 50px;
	line-height: 60px;
	letter-spacing: 1px;
	text-align: center;
	font-family: meddon, cursive;
	font-weight: 400;
	border-width: 0px 5px 0px 0px;
	background: #000000 url("../images/throw.jpg") no-repeat center center;
	background-size: cover;
}

#u2401,#u2378,#u2360
{
	margin-top: -18px;
	margin-bottom: 18px;
	margin-left: -30px;
}

#u2355-15
{
	z-index: 162;
	width: 284px;
	min-height: 139px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u2357-3
{
	z-index: 171;
	width: 96px;
	min-height: 17px;
	border-style: solid;
	border-width: 1px 0px 0px;
}

#u2359-4
{
	z-index: 179;
	width: 182px;
	min-height: 15px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 12px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 3px;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u1865-6
{
	z-index: 189;
	width: 355px;
	min-height: 500px;
	border-style: solid;
	text-align: center;
	border-width: 0px 0px 0px 5px;
	background: #EAEAEA url("../images/bag.jpg") no-repeat center center;
	background-size: cover;
}

#u2409,#u2366,#u2346
{
	margin-top: 171px;
	margin-bottom: -171px;
	margin-left: -30px;
}

#u2343-15
{
	z-index: 195;
	width: 284px;
	min-height: 139px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u2402,#u2410,#u2373,#u2361,#u2355,#u2343
{
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 3px;
	color: #FFFFFF;
}

#u2402-3,#u2410-3,#u2373-3,#u2361-3,#u2355-3,#u2343-3
{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 5px;
	color: #FFFFFF;
}

#u2402-7,#u2410-7,#u2373-7,#u2361-7,#u2355-7,#u2343-7
{
	font-size: 15px;
	line-height: 23px;
	letter-spacing: 5px;
	color: #FFFFFF;
}

#u2405,#u2413,#u2374,#u2362,#u2356,#u2349
{
	margin-top: 23px;
	margin-bottom: -23px;
}

#u2348-3
{
	z-index: 204;
	width: 96px;
	min-height: 17px;
	border-style: solid;
	border-width: 1px 0px 0px;
}

#u2398,#u2400,#u2402-4,#u2402-8,#u2408,#u2410-4,#u2410-8,#u2267,#u2277,#u2373-4,#u2373-8,#u2269,#u2361-4,#u2361-8,#u1855,#u1857,#u2355-4,#u2355-8,#u1865,#u2343-4,#u2343-8
{
	font-size: 1px;
	line-height: 0px;
}

#u2403,#u2411,#u2376,#u2364,#u2358,#u2344
{
	margin-top: 25px;
	margin-bottom: -25px;
}

#u2345-4
{
	z-index: 212;
	width: 182px;
	min-height: 15px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 12px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 3px;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u2402-11,#u2402-12,#u2410-11,#u2410-12,#u2373-11,#u2373-12,#u2361-11,#u2361-12,#u2355-11,#u2355-12,#u2343-11,#u2343-12
{
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #382C2D;
}

#u2402-13,#u2410-13,#u2373-13,#u2361-13,#u2355-13,#u2343-13
{
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 4px;
	color: #382C2D;
}

#u2398-6,#u2267-6,#u1855-6
{
	color: #FFFFFF;
}

#u2398-7,#u2267-7,#u1855-7
{
	color: #FFFF00;
}

#u1855-10-bw
{
	z-index: 150;
	min-height: 500px;
}

#u2415
{
	z-index: 224;
	width: 248px;
	height: 86px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1549px;
	left: 496px;
}

#accordionu1636
{
	z-index: 225;
	padding-bottom: 1px;
	bottom: -460px;
}

#u1637
{
	z-index: 226;
}

#u1649-3
{
	z-index: 227;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 230;
	padding-bottom: 2px;
}

#pu1650-9
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 270px;
}

#u1650-9
{
	z-index: 231;
	width: 430px;
	min-height: 412px;
	margin-right: -10000px;
}

#widgetu1639
{
	z-index: 240;
	width: 0.01px;
	height: 63px;
	margin-right: -10000px;
	margin-top: 134px;
	left: 60px;
}

#widgetu1643
{
	z-index: 241;
	width: 225px;
	height: 27px;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 242;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 246;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 250;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 254;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 258;
	min-height: 32px;
	width: 88px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-6
{
	z-index: 275;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	margin-right: -10000px;
	margin-top: 250px;
	left: 64px;
}

#u1901-6:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1933
{
	margin: -9px -10px -11px;
}

#u1932
{
	z-index: 281;
	width: 35px;
	height: 35px;
}

#u1932:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-5
{
	z-index: 283;
	width: 303px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 61px;
}

#u2019-4
{
	z-index: 288;
	width: 234px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 66px;
}

#u2017
{
	z-index: 292;
	width: 280px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 293;
	width: 280px;
	min-height: 29px;
}

#u2014-8
{
	z-index: 297;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
}

#u8806
{
	z-index: 305;
	top: -1px;
	margin-bottom: -1px;
}

#u8807-4
{
	z-index: 306;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-3.AccordionPanelTabOpen,#u8807-4:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8807-4.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u8808
{
	z-index: 310;
	height: 414px;
}

#accordionu1636-bw
{
	z-index: 225;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

