.version.about /* version checker */
{
	color: #000015;
	background-color: #1DF65B;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1059.75px;
	border-style: none;
	border-color: #000000;
	padding-bottom: 0px;
	background: #FFFFFF url("../../images/phone.svg") no-repeat left top;
	background-size: 82px 82px;
}

.nosvg #page
{
	background-image: url('../../images/phone_poster_u7218.png');
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;
}

#pptop
{
	width: 0.01px;
	margin-left: -50px;
}

#ptop
{
	width: 0.01px;
	margin-right: -10000px;
}

#top
{
	margin-left: 25px;
}

#u3601
{
	z-index: 94;
	width: 50px;
	min-height: 50px;
	margin-top: 73px;
}

#u3603
{
	z-index: 95;
	width: 50px;
	min-height: 50px;
	margin-top: 20px;
}

#u3899
{
	z-index: 2;
	min-height: 345px;
	border-color: #000000;
	padding-bottom: 185px;
	background: #FFFFFF url("../../images/about_bg1.jpg") no-repeat left top;
	background-size: cover;
}

#pu5659
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 8px;
}

#u5659
{
	z-index: 186;
}

#u3905-16
{
	z-index: 3;
	width: 215px;
	min-height: 204px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 20px;
	padding-right: 10px;
	font-size: 40px;
	color: #FFFFFF;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 62px;
	margin-top: 82px;
	position: relative;
}

.article_headline_top
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u3905
{
	font-size: 25px;
	letter-spacing: 5px;
	line-height: 23px;
}

#u3905-2
{
	font-size: 25px;
	letter-spacing: 4px;
	line-height: 23px;
}

#u3905-3,#u3905-10
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3905-4
{
	font-size: 29px;
	letter-spacing: 6px;
	line-height: 26px;
}

#u3905-5
{
	letter-spacing: 2px;
	line-height: 36px;
}

#u3905-6
{
	font-size: 37px;
	letter-spacing: -1px;
	line-height: 33px;
}

#u3905-7
{
	font-size: 37px;
	letter-spacing: 1px;
	line-height: 33px;
}

#u3905-8
{
	font-size: 50px;
	letter-spacing: 1px;
	line-height: 45px;
}

#u3905-9
{
	font-size: 50px;
	letter-spacing: 12px;
	line-height: 45px;
}

#u3905-14
{
	line-height: 40px;
}

#u3906
{
	margin-top: 12px;
	margin-bottom: -12px;
}

#u3907-6
{
	z-index: 19;
	width: 206px;
	min-height: 32px;
	background-color: transparent;
	color: #C9C9C9;
	font-size: 11px;
	text-align: center;
	line-height: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#buttonu3593
{
	z-index: 86;
	width: 52px;
	padding-bottom: 34px;
	margin-right: -10000px;
	left: 328px;
}

#buttonu3593.ButtonSelected
{
	width: 52px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3594
{
	z-index: 87;
	width: 17px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 19px;
}

#u3599
{
	z-index: 88;
	width: 17px;
}

#u3600
{
	z-index: 89;
	width: 17px;
	height: 2px;
	margin-right: -10000px;
}

#u3597
{
	z-index: 90;
	width: 17px;
	margin-top: 6px;
}

#u3598
{
	z-index: 91;
	width: 17px;
	height: 2px;
	margin-right: -10000px;
}

#u3595
{
	z-index: 92;
	width: 17px;
	margin-top: 7px;
}

#u3596
{
	z-index: 93;
	width: 17px;
	height: 2px;
	margin-right: -10000px;
}

#u3899-bw
{
	z-index: 2;
	min-height: 345px;
}

#u3904
{
	z-index: 26;
	min-height: 203px;
	border-color: #000000;
	padding-bottom: 16px;
	background: transparent url("../../images/wedge.svg") no-repeat center center;
	background-size: cover;
}

.nosvg #u3904
{
	background-image: url('../../images/wedge_poster_u7058.png');
}

#u3908
{
	z-index: 27;
	width: 160px;
	height: 160px;
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 106px;
	background: #FFFFFF url("../../images/about-thumb.jpg") no-repeat center center;
	background-size: cover;
}

#u3904-bw
{
	z-index: 26;
	min-height: 203px;
	margin-top: 383px;
}

#u3909-6
{
	z-index: 28;
	width: 298px;
	min-height: 66px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: transparent;
	text-align: center;
	margin-left: 41px;
	margin-top: 30px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3909-2
{
	font-size: 15px;
	line-height: 21px;
	letter-spacing: 6px;
	color: #382C2D;
}

#u3909-4
{
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 3px;
	font-style: italic;
}

#u3910-4
{
	z-index: 34;
	width: 336px;
	min-height: 176px;
	background-color: transparent;
	text-align: center;
	margin-left: 21px;
	margin-top: 23px;
	position: relative;
}

#u3915-3
{
	z-index: 38;
	width: 61px;
	min-height: 49px;
	margin-left: 158px;
	margin-top: 29px;
	position: relative;
	background: transparent url("../../images/smart_quote.svg") no-repeat left top;
	background-size: contain;
}

.nosvg #u3915-3
{
	background-image: url('../../images/smart_quote_poster_u7212.png');
}

#u3916-11
{
	z-index: 41;
	width: 336px;
	min-height: 244px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 40px;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 12px;
	position: relative;
}

#u3916-2,#u3916-5
{
	line-height: 40px;
	color: #90624D;
}

#u3916,#u3916-3
{
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u3916-9
{
	line-height: 48px;
	color: #7F7F7F;
}

#u3917
{
	margin-top: 6px;
	margin-bottom: -6px;
}

#u3918-6
{
	z-index: 52;
	width: 206px;
	min-height: 32px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 11px;
	text-align: center;
	line-height: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u3907-2,#u3918-2
{
	letter-spacing: 3px;
}

#u3916-7,#u3916-8
{
	color: #C7C7C7;
}

#u3922
{
	z-index: 68;
	min-height: 122px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #FFFFFF url("../../images/about_bg2.jpg") no-repeat left top;
	background-size: cover;
}

#u3926-8
{
	z-index: 69;
	width: 336px;
	min-height: 47px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-top: 30px;
	color: #FFFFFF;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

#u3926-2
{
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 2px;
}

#u3926-6
{
	font-size: 60px;
	line-height: 66px;
}

#u3905-11,#u3916-6,#u3926-3
{
	font-size: 1px;
	line-height: 0px;
}

#u3927
{
	margin-top: -14px;
	margin-bottom: 14px;
}

#u3928-5
{
	z-index: 77;
	width: 337px;
	min-height: 32px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #C9C9C9;
	font-size: 10px;
	text-align: center;
	line-height: 15px;
	letter-spacing: 2px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u3928-2
{
	letter-spacing: 4px;
}

#u3922-bw
{
	z-index: 68;
	min-height: 122px;
	margin-top: 34px;
}

#u3919-9
{
	z-index: 59;
	width: 336px;
	min-height: 312px;
	background-color: transparent;
	text-align: center;
	margin-left: 21px;
	margin-top: 70px;
	position: relative;
}

#pu5541
{
	width: 0.01px;
	margin-top: -3px;
}

#u5541
{
	z-index: 83;
	width: 379px;
	height: 527px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
}

#u3789
{
	z-index: 84;
	min-height: 91px;
	padding-bottom: 96px;
}

#u3773-6
{
	z-index: 96;
	width: 303px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 22px;
}

#u3789-bw
{
	z-index: 84;
	min-height: 91px;
	margin-top: 42px;
}

#u3800
{
	z-index: 85;
	width: 126px;
	height: 297px;
	margin-right: -10000px;
	margin-top: 230px;
	left: 254px;
}

#widgetu3774
{
	z-index: 102;
	width: 0.01px;
	height: 66px;
	margin-right: -10000px;
	margin-top: 153px;
	left: 18px;
}

#widgetu3778
{
	z-index: 103;
	width: 227px;
	height: 27px;
	margin-right: -10000px;
}

#widgetu3778.fld-err-st
{
	width: 227px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3780-4
{
	z-index: 104;
	width: 215px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu3778:hover #u3780-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 215px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3778.focus-st #u3780-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 215px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3778.fld-err-st #u3780-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 215px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3778_input,#widgetu3778_prompt
{
	width: 215px;
	min-height: 14px;
	padding: 6px;
}

#widgetu3778:hover #widgetu3778_input,#widgetu3778.focus-st #widgetu3778_input,#widgetu3778.fld-err-st #widgetu3778_input,#widgetu3778:hover #widgetu3778_prompt,#widgetu3778.focus-st #widgetu3778_prompt,#widgetu3778.fld-err-st #widgetu3778_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u3777-4
{
	z-index: 108;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 14px;
}

#u3775-4
{
	z-index: 112;
	width: 200px;
	min-height: 24px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 14px;
}

#widgetu3774.frm-subm-err-st #u3775-4
{
	min-height: 28px;
}

#u3776-4
{
	z-index: 116;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 14px;
}

#widgetu3774.frm-sub-st #u3777-4,#widgetu3774.frm-subm-ok-st #u3776-4
{
	min-height: 25px;
}

#u3782-17
{
	z-index: 120;
	min-height: 27px;
	width: 88px;
	margin-right: -10000px;
	left: 238px;
}

#u3792
{
	z-index: 174;
	width: 32px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 14px;
}

#u3794
{
	z-index: 175;
	width: 32px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 57px;
}

#u3796
{
	z-index: 176;
	width: 32px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 101px;
}

#u3798
{
	z-index: 177;
	width: 32px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 144px;
}

#u3791-6
{
	z-index: 166;
	width: 177px;
	min-height: 29px;
	padding-top: 13px;
	margin-right: -10000px;
	left: 202px;
}

#u3956
{
	margin-top: 3px;
	margin-bottom: -3px;
}

#u3954
{
	z-index: 172;
}

#u3783,#u3783-bw
{
	z-index: 137;
	min-height: 42px;
}

#u3784
{
	z-index: 139;
	width: 280px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 267px;
	left: 22px;
}

#u3785-4
{
	z-index: 140;
	width: 233px;
	min-height: 29px;
}

#u3786-9
{
	z-index: 148;
	width: 280px;
	min-height: 98px;
	top: -6px;
	margin-bottom: -6px;
}

#u3787-4
{
	z-index: 144;
	width: 233px;
	min-height: 29px;
	margin-top: 7px;
}

#u3788-9
{
	z-index: 157;
	width: 157px;
	min-height: 94px;
	top: -4px;
	margin-bottom: -4px;
}

#u5942
{
	z-index: 187;
	width: 168px;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 212px;
}

.ie #u5942
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3809-7
{
	z-index: 178;
	width: 328px;
	min-height: 26px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 19px;
}

#u3808,#u3808-bw
{
	z-index: 138;
	min-height: 36px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

