.version.index /* version checker */
{
	color: #0000EE;
	background-color: #1DADB8;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1060px;
	border-style: none;
	border-color: #000000;
	background: #FFFFFF url("../../images/phone.svg") no-repeat left top;
	background-size: 82px 82px;
}

.nosvg #page
{
	background-image: url('../../images/phone_poster_u7218.png');
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;
}

#pptop
{
	width: 0.01px;
	margin-left: -50px;
}

#ptop
{
	width: 0.01px;
	margin-right: -10000px;
}

#top
{
	margin-left: 25px;
}

#u3601
{
	z-index: 132;
	width: 50px;
	min-height: 50px;
	margin-top: 73px;
}

#u3603
{
	z-index: 133;
	width: 50px;
	min-height: 50px;
	margin-top: 20px;
}

#u3711
{
	z-index: 6;
	min-height: 265px;
	border-color: #000000;
	padding-bottom: 265px;
	background: #FFFFFF url("../../images/handbag_home.jpg") no-repeat center center;
	background-size: cover;
}

#pu5659
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 8px;
}

#u5659
{
	z-index: 224;
}

#u5662
{
	z-index: 120;
	width: 276px;
	height: 170px;
	border-color: #000000;
	margin-left: 43px;
	margin-top: 58px;
	position: relative;
	background: transparent url("../../images/logo_home.svg") no-repeat center center;
	background-size: cover;
}

#buttonu3593
{
	z-index: 124;
	width: 52px;
	padding-bottom: 34px;
	margin-right: -10000px;
	left: 328px;
}

#buttonu3593.ButtonSelected
{
	width: 52px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3594
{
	z-index: 125;
	width: 17px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 19px;
}

#u3599
{
	z-index: 126;
	width: 17px;
}

#u3600
{
	z-index: 127;
	width: 17px;
	height: 2px;
	margin-right: -10000px;
}

#u3597
{
	z-index: 128;
	width: 17px;
	margin-top: 6px;
}

#u3598
{
	z-index: 129;
	width: 17px;
	height: 2px;
	margin-right: -10000px;
}

#u3595
{
	z-index: 130;
	width: 17px;
	margin-top: 7px;
}

#u3596
{
	z-index: 131;
	width: 17px;
	height: 2px;
	margin-right: -10000px;
}

#u3711-bw
{
	z-index: 6;
	min-height: 265px;
}

#u3721-4
{
	z-index: 7;
	min-height: 67px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u3721-4-bw
{
	z-index: 7;
	min-height: 67px;
	margin-top: 290px;
}

#u3722
{
	z-index: 11;
	min-height: 219px;
	border-color: #000000;
	background: transparent url("../../images/wedge.svg") no-repeat center center;
	background-size: cover;
}

.nosvg #u3722
{
	background-image: url('../../images/wedge_poster_u7058.png');
}

#u3731-4
{
	z-index: 12;
	width: 240px;
	min-height: 34px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	letter-spacing: 7px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 70px;
}

#u3722-bw
{
	z-index: 11;
	min-height: 219px;
	margin-top: 323px;
}

#pu5543-18
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 45px;
}

#u5543-18
{
	z-index: 93;
	width: 278px;
	min-height: 388px;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

.home_thumb_container
{
	border-width: 1px;
	border-style: solid;
	border-color: #989898;
	background-color: transparent;
}

#u5547
{
	z-index: 99;
	width: 280px;
	height: 180px;
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #7F7F7F;
	background-size: contain;
}

.home_thumb_img
{
	border-style: none;
	border-color: #000000;
	background: #7F7F7F url("../../images/home_thumb1.jpg") no-repeat left top;
	background-size: contain;
}

#u5545
{
	z-index: 109;
	width: 30px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

.nosvg #u5545
{
	background-image: url('../../images/flourish_poster_u7312.png');
}

.flourish
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../../images/flourish.svg") no-repeat center center;
	background-size: contain;
}

#u5548
{
	z-index: 115;
	width: 219px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 367px;
	left: 40px;
}

#u5549-4
{
	z-index: 116;
	width: 165px;
	min-height: 18px;
	border-width: 3px;
	border-style: solid;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 14px;
	padding: 12px 10px 10px;
}

.home_thumb_btn1
{
	border-width: 3px;
	border-style: solid;
	border-color: #90624D;
	background-color: transparent;
}

#pu3732-18
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 71px;
}

#u3732-18
{
	z-index: 16;
	width: 278px;
	min-height: 388px;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u3734
{
	z-index: 22;
	width: 280px;
	height: 180px;
	background: #7F7F7F url("../../images/thumb_denim-u3734-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3736
{
	z-index: 32;
	width: 30px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

#u5525
{
	z-index: 67;
	width: 219px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 367px;
	left: 41px;
}

#u5524-4
{
	z-index: 69;
	width: 165px;
	min-height: 18px;
	border-width: 3px;
	border-style: solid;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 14px;
	padding: 12px 10px 10px;
}

#pu3764
{
	width: 0.01px;
	margin-top: 79px;
}

#u3764
{
	z-index: 2;
	width: 376px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 559px;
	left: 2px;
}

#u3757
{
	z-index: 4;
	min-height: 162.8499999999999px;
	border-style: none;
	border-color: transparent;
	background-color: #BAB5B3;
	background-color: rgba(83,71,65,0.4);
	padding: 415px 110px 150.1500000000001px 107px;
	-pie-background: rgba(83,71,65,0.4);
}

#u5536-4
{
	z-index: 81;
	width: 137px;
	min-height: 18px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	line-height: 16px;
	color: #FFFFFF;
	position: relative;
	padding: 12px 10px 10px;
}

#u5536-4:hover
{
	border-color: #90624D;
	background-color: #90624D;
	padding-top: 12px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 137px;
	margin: 0px;
}

#u5538-4
{
	z-index: 85;
	width: 137px;
	min-height: 18px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	line-height: 16px;
	color: #FFFFFF;
	margin-top: 13px;
	position: relative;
	padding: 12px 10px 10px;
}

#u5538-4:hover
{
	border-color: #90624D;
	background-color: #90624D;
	padding-top: 12px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 137px;
	margin: 13px 0px 0px;
}

#u5540-4
{
	z-index: 89;
	width: 137px;
	min-height: 18px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	line-height: 16px;
	color: #FFFFFF;
	margin-top: 12px;
	position: relative;
	padding: 12px 10px 10px;
}

#u5540-4:hover
{
	border-color: #90624D;
	background-color: #90624D;
	padding-top: 12px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 137px;
	margin: 12px 0px 0px;
}

#u3757-bw
{
	z-index: 4;
	min-height: 162.8499999999999px;
	margin-top: 396px;
}

#u3758
{
	z-index: 5;
	min-height: 404px;
	border-color: #000000;
	background: transparent url("../../images/wedge_bottom.svg") no-repeat center top;
	background-size: cover;
}

.nosvg #u3758
{
	background-image: url('../../images/wedge_bottom_poster_u7064.png');
}

#u3758_position_content
{
	margin-bottom: -6px;
	padding-top: 107px;
}

#u3759
{
	z-index: 38;
	width: 35px;
	height: 38px;
	border-color: #000000;
	margin-left: 172px;
	position: relative;
	background: #FFFFFF url("../../images/arrow_thin2.gif") no-repeat center center;
}

#u3759:hover
{
	width: 35px;
	height: 38px;
	min-height: 0px;
	margin: 0px 0px 0px 172px;
	background: #FFFFFF url("../../images/arrow_thin_over.png") no-repeat center center;
}

#u3760-4
{
	z-index: 39;
	width: 353px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	letter-spacing: 7px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 13px;
	margin-top: 175px;
	position: relative;
}

#u5535-4
{
	z-index: 77;
	width: 137px;
	min-height: 18px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	line-height: 16px;
	color: #FFFFFF;
	margin-left: 107px;
	margin-top: 20px;
	position: relative;
	padding: 12px 10px 10px;
}

#u5535-4:hover
{
	border-color: #90624D;
	background-color: #90624D;
	padding-top: 12px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 137px;
	margin: 20px 0px 0px 107px;
}

#u5536-2,#u5538-2,#u5540-2,#u5535-2
{
	letter-spacing: 4px;
}

#u3758-bw
{
	z-index: 5;
	min-height: 404px;
	margin-top: 389px;
}

#u3746-20
{
	z-index: 43;
	width: 278px;
	min-height: 388px;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
	left: 40px;
}

#u3748
{
	z-index: 49;
	width: 280px;
	height: 180px;
	background: #7F7F7F url("../../images/glasses-u3748-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u5543-6,#u5543-8,#u5543-12,#u3732-6,#u3732-8,#u3732-12,#u3746-6,#u3746-8,#u3746-12
{
	font-size: 14px;
	text-align: center;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u5543,#u5543-9,#u3732,#u3732-9,#u3746,#u3746-9
{
	font-size: 1px;
	line-height: 0px;
}

#u5544,#u3735,#u3749
{
	margin-top: 9px;
	margin-bottom: -9px;
}

#u3750
{
	z-index: 59;
	width: 30px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: contain;
}

#u5543-13,#u3732-13,#u3746-13
{
	text-align: center;
	letter-spacing: 4px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u5543-4,#u5543-5,#u5543-15,#u5543-16,#u3732-4,#u3732-5,#u3732-15,#u3732-16,#u3746-4,#u3746-5,#u3746-15,#u3746-17,#u3746-18
{
	text-align: center;
}

#u5526
{
	z-index: 68;
	width: 219px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 368px;
	left: 80px;
}

#u5527-4
{
	z-index: 73;
	width: 165px;
	min-height: 18px;
	border-width: 3px;
	border-style: solid;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 14px;
	padding: 12px 10px 10px;
}

#u5549-4:hover,#u5524-4:hover,#u5527-4:hover
{
	background-color: #90624D;
	padding-top: 12px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 165px;
	margin: 10px -10000px 0px 0px;
}

#u5549-2,#u5524-2,#u5527-2
{
	letter-spacing: 4px;
	color: #90624D;
}

#pu5541
{
	width: 0.01px;
	margin-top: -3px;
}

#u5541
{
	z-index: 121;
	width: 379px;
	height: 527px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
}

#u3789
{
	z-index: 122;
	min-height: 91px;
	padding-bottom: 96px;
}

#u3773-6
{
	z-index: 134;
	width: 303px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 22px;
}

#u3789-bw
{
	z-index: 122;
	min-height: 91px;
	margin-top: 42px;
}

#u3800
{
	z-index: 123;
	width: 126px;
	height: 297px;
	margin-right: -10000px;
	margin-top: 230px;
	left: 254px;
}

#widgetu3774
{
	z-index: 140;
	width: 0.01px;
	height: 66px;
	margin-right: -10000px;
	margin-top: 152px;
	left: 18px;
}

#widgetu3778
{
	z-index: 141;
	width: 227px;
	height: 27px;
	margin-right: -10000px;
}

#widgetu3778.fld-err-st
{
	width: 227px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3780-4
{
	z-index: 142;
	width: 215px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu3778:hover #u3780-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 215px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3778.focus-st #u3780-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 215px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3778.fld-err-st #u3780-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 215px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3778_input,#widgetu3778_prompt
{
	width: 215px;
	min-height: 14px;
	padding: 6px;
}

#widgetu3778:hover #widgetu3778_input,#widgetu3778.focus-st #widgetu3778_input,#widgetu3778.fld-err-st #widgetu3778_input,#widgetu3778:hover #widgetu3778_prompt,#widgetu3778.focus-st #widgetu3778_prompt,#widgetu3778.fld-err-st #widgetu3778_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u3777-4
{
	z-index: 146;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 14px;
}

#u3775-4
{
	z-index: 150;
	width: 200px;
	min-height: 24px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 14px;
}

#widgetu3774.frm-subm-err-st #u3775-4
{
	min-height: 28px;
}

#u3776-4
{
	z-index: 154;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 14px;
}

#widgetu3774.frm-sub-st #u3777-4,#widgetu3774.frm-subm-ok-st #u3776-4
{
	min-height: 25px;
}

#u3782-17
{
	z-index: 158;
	min-height: 27px;
	width: 88px;
	margin-right: -10000px;
	left: 238px;
}

#u3792
{
	z-index: 212;
	width: 32px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 14px;
}

#u3794
{
	z-index: 213;
	width: 32px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 57px;
}

#u3796
{
	z-index: 214;
	width: 32px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 101px;
}

#u3798
{
	z-index: 215;
	width: 32px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 144px;
}

#u3791-6
{
	z-index: 204;
	width: 177px;
	min-height: 29px;
	padding-top: 13px;
	margin-right: -10000px;
	left: 202px;
}

#u3956
{
	margin-top: 3px;
	margin-bottom: -3px;
}

#u3954
{
	z-index: 210;
}

#u3783,#u3783-bw
{
	z-index: 175;
	min-height: 42px;
}

#u3784
{
	z-index: 177;
	width: 280px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 266px;
	left: 22px;
}

#u3785-4
{
	z-index: 178;
	width: 233px;
	min-height: 29px;
}

#u3786-9
{
	z-index: 186;
	width: 280px;
	min-height: 98px;
	top: -6px;
	margin-bottom: -6px;
}

#u3787-4
{
	z-index: 182;
	width: 233px;
	min-height: 29px;
	margin-top: 7px;
}

#u3788-9
{
	z-index: 195;
	width: 157px;
	min-height: 94px;
	top: -4px;
	margin-bottom: -4px;
}

#u5944
{
	z-index: 225;
	width: 168px;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 207px;
}

.ie #u5944
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3809-7
{
	z-index: 216;
	width: 328px;
	min-height: 26px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 19px;
}

#u3808,#u3808-bw
{
	z-index: 176;
	min-height: 36px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

